﻿<connection-Builder-Popup showpopup="false" on-Set-Connection="invokeConnectionSettings(ctx)"></connection-Builder-Popup>
<div class="row mt-15 ml-5">
    <div class="col-sm-3 dropable">
        <div class="higlightedArea">
            <select class="form-control" ng-model="selectedCube" >
                <option>ProductWiseDeals</option>
                <option>ServiceDept</option>
            </select>
        </div>
        <div class="higlightedArea minHeight-550 mt-15">
            <treecontrol class="tree-classic"
                         tree-model="dataForTheTree"
                         options="treeOptions"
                         on-selection="showSelected(node)"
                         selected-node="node1"
                         on-node-toggle="showToggle(node, expanded, $parentNode, $index, $first, $middle, $last, $odd, $even, $path, $parent)">
                 <span data-value="{{node.value}}" data-contentType="{{node.contentType}}" ng-class="(node.dragable==true)?'dragable fNode':''">{{node.Name}}</span>
            </treecontrol>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="col-sm-12 mb-15 higlightedArea minHeight-200" id="mdxFilterContainer" >
            <datatable render-Element="true" show-Paging="false" show-Search="false">
                <mdxfiltertable w-Config="$ctrl.filterConfig" dimension-Data="dataForTheTree"></mdxfiltertable>
            </datatable>
        </div>
        <div class="col-sm-12 mb-15 higlightedArea minHeight-400 droppable" id="reportViewer">
            <div class="col-sm-12 text-right mb-15" ng-show="showReportSave">
                <form class="form-inline ">                     
                    <div class="col-lg-6 pull-right text-right">
                        <div class="form-group">
                            <input type="text" class="form-control" style="display:inline-block" ng-model="$ctrl.reportName" placeholder="Report Name" />
                            <button ng-click="$ctrl.saveReport()" class="btn btn-primary btn-sm">Save</button>
                        </div>
                    </div>
                </form>
            </div>
            <datatable data="reportDataList" w-Config="reportConfig" report-List="reportList" show-Paging="false" show-Search="false" render-Element="true" on-List-Item-Click="editReport(ctx)"></datatable>
        </div>
</div>
</div>