﻿<style>
    #section1, #section2, #section3, #section4 {
        background-color: #fcfcfc;
        border: 1px solid #ddd;
        padding: 5px;
        border-radius: 4px;
    }
</style>
<template-Popup showpopup="$ctrl.showTemplatePopup" title="'Templates'" on-Template-Selection="loadTemplate(ctx)" on-Select-Click="selectTemplate(ctx)" on-Close-Click="closeTemplatePopup()"></template-Popup>
<widget-Popup showpopup="$ctrl.showWidgetPopup" selected-Elem="$ctrl.selectedElem" widget-Name="$ctrl.widgetName" title="'Widgets'" on-Close-Click="closeWidgetPopup()" on-Widget-Selection="selectWidget(ctx)"></widget-Popup>
<div class="row noPrint">
    <div class="col-lg-12">
        <br />
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div style="background-color:#f5f5f5;border:1px solid #ddd; padding:5px;border-radius:4px;margin-bottom:15px;" class="resp-global-filter">
            <form class="form-inline ">
                <div class="col-lg-6">
                    <div class="form-group">
                        <button ng-click="openWidgetPopup()" class="btn btn-primary btn-sm">Add Widget</button>
                        <button ng-click="openTemplatePopup()" class="btn btn-primary btn-sm">Customize Template</button>
                    </div>
                </div>
                <div class="col-lg-6 text-right">
                    <div class="form-group">
                        <input type="text" class="form-control" style="display:inline-block" ng-model="dashboardName" placeholder="Dashboard Title" />
                        <button ng-click="saveDashboard()" class="btn btn-primary btn-sm">Save</button>
                    </div>
                </div>
            </form>
            <div style="clear:both;"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <usertemplateloader template="$ctrl.template" widget-Container="$ctrl.widgetContainer" on-Element-Drag="elementDrag(ctx)" remove-Element="removeElement(ctx)" edit-Widget="editWidget(ctx)"></usertemplateloader>
    </div>
</div>