﻿.fade-scale {
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

    .fade-scale.in {
        opacity: 1;
        transform: scale(1);
        display: block;
    }

label {
    display: inline-flex !important;
}

.panel-heading-custom {
    height: 30px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

body {
    padding-top: 3em;
}

.filterDemo {
    display: none;
}

/*.banner {
    height: 55px;
    content: url('../images/dms-logo-resized.gif');
}
.banner::before {
    height: 55px;
    content: url('../images/dms-logo-resized.gif');
}*/

@media only screen and (min-device-width: 490px) and (max-device-width: 4900px) {
    .top-dropdown-menu {
        display: block;
    }

    .demo {
        display: block !important;
    }
}

@media only screen and (min-device-width: 0px) and (max-device-width: 490px) {
    .panel-heading .form-group {
        display: flex !important;
        z-index: 99999;
    }

    .demo {
        display: none;
    }

    .filterDemo {
        display: inline-block;
    }
}

@media (min-width: 768px) {
    .form-inline .form-control {
        display: block;
    }
}

@media (max-width: 768px) {
    body {
        padding-top: 4.1em;
    }

    .dataTables_filter {
        width: 100%;
        float: left !important;
        text-align: left !important; /* Edited by ~ Anu */
    }
}

.bullet {
    font: 10px sans-serif;
}

    .bullet .marker {
        stroke: #000;
        stroke-width: 2px;
    }

    .bullet .tick line {
        stroke: #666;
        stroke-width: .5px;
    }

    /*.bullet .range.s0 {
    fill: #eee;
}

.bullet .range.s1 {
    fill: #ddd;
}

.bullet .range.s2 {
    fill: #ccc;
}

.bullet .measure.s0 {
    fill: lightsteelblue;
}

.bullet .measure.s001 {
    fill: red;
}

.bullet .measure.s1 {
    fill: steelblue;
}*/

    .bullet .title {
        font-size: 12px;
        font-weight: bold;
    }

    .bullet .subtitle {
        fill: #999;
    }

.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
}

    .custom-menu li {
        padding: 8px 12px;
        cursor: pointer;
        margin-left: -42px;
    }

        .custom-menu li:hover {
            background-color: #DEF;
        }

.dataTables_filter {
    /*width: 50%;*/ 
    float: right;
    text-align: right; /* Edited by ~ Anu */
}

.pagination .active a {
    z-index: initial;
}

.vehicleSales, .glyphicon-download {
    cursor: pointer;
}

td.vehicleSales {
    text-decoration: underline;
    color: #428bca;
}

.dataTables_paginate ul {
    margin: auto;
    float: right;
}

.form-control {
    width: 100%;
}

.panel-heading .form-group {
    display: inline-block;
}

.panel-heading {
    /*padding: 10px 15px 22px;*/
}

.charts {
    margin-top: -10px;
}

.linechart {
    height: 250px;
}

.center {
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #777;
}

.dropdown-menu > li > input {
    margin: 5px 5px 5px 15px;
}

.customControl {
    height: 25px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.clearSpace {
    clear: both;
}

.ChartArea {
    min-height: 170px;
}

.dragdrop-active {
    z-index: 10000;
}

.form-group span.glyphicon-calendar {
    margin-left: -23px;
}
/*Css From Index Page*/
.d3-tip {
    line-height: 1;
    font-weight: bold;
    font-size: x-small;
    padding: 5px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

    /* Creates a small triangle extender for the tooltip */
    .d3-tip:after {
        box-sizing: border-box;
        display: inline;
        font-size: 10px;
        width: 100%;
        line-height: 1;
        color: rgba(0, 0, 0, 0.8);
        content: "\25BC";
        position: absolute;
        text-align: center;
    }

    /* Style northward tooltips differently */
    .d3-tip.n:after {
        margin: -1px 0 0 0;
        top: 100%;
        left: 0;
    }

.axis {
    font: 10px sans-serif;
}

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

.divSvgAxis {
    overflow: hidden;
    height: 35px;
    margin-top: -2px;
}

.marker {
    stroke: #000;
    stroke-width: 2px;
}

.barhover {
    /*stroke:lightsteelblue;
    stroke-width:4px;*/
    /*border: 3px solid ;*/
    fill: steelblue;
    /*-webkit-text-stroke:3px rgb(86, 180, 239);*/
    /*text-shadow:  10px 10px 5 rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);*/
}

.btndisabled {
    font-weight: 300;
    color: black;
    border-radius: 3;
    background-color: #ccc;
    box-shadow: none;
    margin: 0px;
}

    .btndisabled:hover {
        color: #337ab7;
        background-color: #b7b7b7;
    }

        .Blocked {
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
        cursor: no-drop !important;
        pointer-events: none;
    }

.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 15px;
}

    .switch input {
        display: none;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 4px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 16px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 10px;
        width: 10px;
        left: 4px;
        top: 2.5px;
        bottom: 2.5px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: steelblue
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 12px;
}

    .slider.round:before {
        border-radius: 40%;
    }

.heading-filter {
    padding: 10px 15px 22px;
}

.panel-heading {
    padding: 3px 15px;
}

.panel {
    margin-bottom: 8px;
}


.ttip {
    position: absolute;
    pointer-events: none;
    line-height: 1;
    font-weight: bold;
    font-size: x-small;
    padding: 5px;
    background-color: #ddd;
    color: steelblue;
    border-radius: 2px;
    z-index:1;
}

.ttip2 {
    position: absolute;
    pointer-events: none;
    line-height: 1;
    font-weight: bold;
    font-size: x-small;
    padding: 5px;
    background-color: #ddd;
    color: steelblue;
    border-radius: 2px;
    z-index:1;
}

.hdn {
    display: none;
}

.CustomLinks {
        text-decoration: underline;
        color: blue;
        cursor: pointer;
    }

    .dropdown-item {
        display: block;
        width: 100%;
        padding: 3px 1.5rem;
        clear: both;
        font-weight: 400;
        color: #292b2c;
        text-align: inherit;
        white-space: nowrap;
        background: 0 0;
        border: 0;
    }

    .collapsedDiv{
        height:30px;
        transition:height 0.5s ease-in;
    }


@media only screen and (min-device-width: 0px) and (max-device-width: 490px) {
    /*.navbar-header {
        text-align: center;
    }*/

    .navbar-header a.chat-menu-toggle {
        display: inline-block;
        /*float: right;*/
    }
}
/*End here*/


/*BreadCrumb CRR Start*/
.breadcrumb {
    list-style: none;
    overflow: hidden;
    font: 10px "Open Sans", sans-serif;
    padding: 0 0 0 0 !important;
    background-color: #ffffff;
    width: 80%;
    display: inline-block;
}

    .breadcrumb li {
        float: left;
    }

        .breadcrumb li a {
            color: white;
            text-decoration: none;
            padding: 7px 0 7px 40px;
            background: brown; /* fallback color */
            background: #444D58;
            position: relative;
            display: block;
            float: left;
        }

            .breadcrumb li a:after {
                content: " ";
                display: block;
                width: 0;
                height: 0;
                border-top: 50px solid transparent;
                border-bottom: 50px solid transparent;
                border-left: 32px solid #3379b5;
                position: absolute;
                top: 50%;
                margin-top: -50px;
                left: 100%;
                z-index: 1;
            }

            .breadcrumb li a:before {
                content: " ";
                display: block;
                width: 0;
                height: 0;
                border-top: 50px solid transparent;
                border-bottom: 50px solid transparent;
                border-left: 35px solid white;
                position: absolute;
                top: 50%;
                margin-top: -50px;
                margin-left: 0px;
                left: 100%;
                z-index: 1;
            }

        .breadcrumb li:first-child a {
            padding-left: 10px;
        }

        .breadcrumb li a {
            background: #444D58;
        }

            .breadcrumb li a:after {
                border-left-color: #444D58;
            }

        .breadcrumb li:last-of-type a {
            background-color: #BCC2CB;
            pointer-events: none;
            cursor: default;
            color: black;
            font-weight: 600;
        }

            .breadcrumb li:last-of-type a:after {
                border-left-color: #BCC2CB;
            }

.panel-body {    
    overflow: hidden;
}

/*a.currenttab {
    background-color: #BCC2CB !important;
    pointer-events: none !important;
    cursor: default !important;
    color: black !important;
    font-weight: 600;
}
 
    a.currenttab:after {
        border-left-color: #BCC2CB !important;
    }*/

/*BreadCrumb CSS End*/

/*Loader Screen CSS start*/
    .spinner {
        /*width: 10%;*/
        max-width: 50px;
        /*height: 30%;*/
        max-height: 60px;
        opacity:1;
        /*margin-top:7%;*/
        position: absolute;
        top: 0; bottom:0; left: 0; right:0;
        margin: auto;
    }

    /*div.m-app-loading {
        position: relative;
    }*/

      div.animated-container {
        /*background-color: #FFFFFF;
        display:flex;
        align-items:center;
        bottom: 0px;
        left: 0px;
        opacity: 1.0;*/
        min-height:150px;
        position: relative;
        /*right: 0px;
        top: 0px;*/
        
    }

      div.messaging {
        color: #2089B6;
        width:100%;
        padding:2.5% 0px;
        left: 0px;
        height:100%;
        position: absolute;
        right: 0px;
        background:#e7e7e7;
        opacity:.6;
        margin-top:-15px;
        align-items:center;
        text-align: center;
        z-index:88;
         /*margin: -15px;*/
        /*top: 40%;*/
        /*background-color: lightsteelblue;*/
    }

    .panel-body h1 {
        font-size: 18px;
        line-height: 35px;
        opacity: 1;
        color:#f5f5f5;
        margin: 0px 0px 20px 0px;
    }
    /*Loader Screen Css Ends*/

    /*Forecasting CSS start*/
     /* set the CSS */
        .line {
            fill: none;
            stroke: steelblue;
            stroke-width: 2px;
           
        }

        .DashedSteelBlueLine {
            fill: none;
            stroke: steelblue;
            stroke-width: 2px;
            stroke-dasharray: 3,3;
           
        }

        .SolidBlackLine {
            fill: none;
            stroke: black;
            stroke-width: 2px;
            
        }

        .steelbluefill {
            fill: lightsteelblue;
        }

        #forecast-vehicle-make-list {
            max-height: 300px;
            overflow-y: overlay;
        }

        .chartdivborder {
            border: 1px solid #ddd;
        }

        .lineSeprator {
            border-right: 2px solid #ddd;
            border-radius: 2px;
        }

        .kpitilesvalues {
            display: inline;
            margin-top: 0px;
            margin-bottom: 8px;
            font-weight: 700;
        }
              
        .green{
        color:green;
        }
        .red{
        color:red;
        }
		
		.yellow{
			color:orange;
        }
        
    @media only screen and (min-width: 100px) and (max-width: 968px) {
        .lineSeprator {
            border-right: none;
            border-radius: 0px;
        }
    }
    /*Forecasting CSS End*/
    
        .cmp-button-group {
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
    float: right;
    position: inherit;
    min-width: 105px;
}


