﻿html * {
	/*font-family: "Verdana, Helvetica, Arial, sans-serif";*/
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#wrapper {
	overflow-x: hidden;
}

/*Common CSS Start*/
.show {
	display: block !important;
}

.hide {
	display: none !important;
}

.pull-left {
	float: left !important;
}

.pull-right {
	float: right !important;
}

.text-size-12 {
	font-size: 12px;
}

.clr-padding {
	padding: 0 !important;
}

.clr-padding-left {
	padding-left: 0 !important;
}

.clr-padding-right {
	padding-right: 0 !important;
}

.clr-padding-top {
	padding-top: 0 !important;
}

.clr-padding-bottom {
	padding-bottom: 0 !important;
}

.clr-margin {
	margin: 0 !important;
}

.clr-margin-left {
	margin-left: 0 !important;
}

.clr-margin-right {
	margin-right: 0 !important;
}

.clr-margin-top {
	margin-top: 0 !important;
}

.clr-margin-bottom {
	margin-bottom: 0 !important;
}

.ml-5 {
	margin-left: 5px !important;
}

.ml-10 {
	margin-left: 10px !important;
}

.ml-15 {
	margin-left: 15px !important;
}

.mr-5 {
	margin-right: 5px !important;
}

.mr-10 {
	margin-right: 10px !important;
}

.mr-15 {
	margin-right: 15px !important;
}

.mt-2 {
	margin-top: 2% !important;
}

.mt-5 {
	margin-top: 5px !important;
}

.mt-10 {
	margin-top: 10px !important;
}

.mt-15 {
	margin-top: 15px !important;
}

.mt-20 {
	margin-top: 20px !important;
}

.mt-25 {
	margin-top: 25px !important;
}

.mt-30 {
	margin-top: 30px !important;
}

.mt-40 {
	margin-top: 40px !important;
}

.mb-5 {
	margin-bottom: 5px !important;
}

.mb-10 {
	margin-bottom: 10px !important;
}

.mb-15 {
	margin-bottom: 15px !important;
}

.mb-12 {
	margin-bottom: 12px !important;
}

.mb-18 {
	margin-bottom: 18px !important;
}

.mb-30 {
	margin-bottom: 30px !important;
}

.mt-neg-1 {
	margin-top: -1px !important;
}

.mt-neg-2 {
	margin-top: -2px !important;
}

.mt-neg-10 {
	margin-top: -10px !important;
}

.mt-neg-8 {
	margin-top: -9px !important;
}

.mt-neg-6 {
	margin-top: -6px !important;
}

.mt-neg-3 {
	margin-top: -3px !important;
}

/* Added by ~ Anu- Start */
.pd-0 {
	padding: 0px;
}
/*End */

.pt-10 {
	padding-top: 10px !important;
}

.pt-15 {
	padding-top: 15px !important;
}

.pd-10 {
	padding: 10px !important;
}

.pd-15 {
	padding: 15px !important;
}

.pb-0 {
	padding-bottom: 0 !important;
}

.top-0 {
	top: 0px !important;
}

.top-5 {
	top: 5px !important;
}

.top-10 {
	top: 10px !important;
}

.top-20 {
	top: 20px !important;
}

.top-50 {
	top: 50px !important;
}

.bottom-0 {
	bottom: 0px !important;
}

.bottom-5 {
	bottom: 5px !important;
}

.bottom-10 {
	bottom: 10px !important;
}

.bottom-20 {
	bottom: 20px !important;
}

.bottom-50 {
	bottom: 50px !important;
}

.left-0 {
	left: 0px !important;
}

.left-5 {
	left: 5px !important;
}

.left-10 {
	left: 10px !important;
}

.left-20 {
	left: 20px !important;
}

.left-50 {
	left: 50px !important;
}

.right-0 {
	right: 0px !important;
}

.right-5 {
	right: 5px !important;
}

.right-10 {
	right: 10px !important;
}

.right-20 {
	right: 20px !important;
}

.right-50 {
	right: 50px !important;
}

.fs-12 {
	font-size: 12px !important;
}

.fs-13 {
	font-size: 13px !important;
}

.fs-16 {
	font-size: 16px !important;
}

.fs-18 {
	font-size: 18px !important;
}

.fw-bold {
	font-weight: bold !important;
}

.valign-mid {
	vertical-align: middle;
}

.valign-bottom {
	vertical-align: bottom;
}

.valign-top {
	vertical-align: top;
}

.ta-center {
	text-align: center !important;
}

.ta-right {
	text-align: right !important;
}

.no-border-bottom {
	border-bottom: none !important;
}

.no-border-right {
	border-right: none !important;
}

.no-border-left {
	border-left: none !important;
}

.no-border-top {
	border-top: none !important;
}

.width-five-per {
	width: 5% !important;
}

.width-ten-per {
	width: 10% !important;
}

.width-fifteen-per {
	width: 15% !important;
}

.width-nav-icon {
	width: 44px;
}

.overflow-vertical {
	overflow-x: hidden !important;
	overflow-y: scroll !important;
}

.overflow-Horizontal {
	overflow-x: scroll !important;
	overflow-y: hidden !important;
}

.color-black {
	color: black !important;
}

.color-blue {
	color: blue !important;
}

.color-red {
	color: red !important;
}
/*Common CSS End*/

/*.navbar-top-links li a {
	min-height: 55px !important;
}*/
div.ui-dialog-titlebar-buttonpane .ui-button .ui-icon {
	background-image: url(../../../Content/thirdparty/JqueryUI/images/ui-icons_777777_256x240.png) !important;
}

.background-f8 {
	background-color: #f8f8f8 !important;
}

.dealer-info {
	width: 100%;
	border-bottom: 1px solid #ddd;
}

.cursor-pointer {
	cursor: pointer;
}

.titleTxt {
	color: red !important;
}

.page-sidebar i.fa, .parent-menu-wrapper i.fa {
	font-size: 1.0vw;
}

.resp-button-group {
	float: right;
}
/*Expand/Maximize Icon size normal*/
.resp-fs-18 {
	font-size: 16px;
}

/*Responsive Start*/
@media only screen and (max-width : 1023px) {

	.navbar-custom {
		margin-left: 50px !important;
	}

	.navbar-custom, .noPrint {
		min-width: 250px;
	}

	.page-sidebar {
		top: 0px !important;
		margin-top: 0px !important;
	}

	.banner {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.resp-inline-block {
		display: inline-block !important;
	}

	.resp-hide {
		display: none !important;
	}

	.resp-ml-neg-18 {
		margin-left: -18px;
	}

	.resp-font-size-0 {
		font-size: 0px;
	}

	.resp-font-size-14 {
		font-size: 14px;
	}

	.resp-font-size-15 {
		font-size: 15px;
	}

	.resp-right {
		float: right;
	}

	.resp-left {
		float: left;
	}

	.resp-button-group {
		float: left !important;
	}

	.resp-sidemenu-ml {
		margin-left: 263px !important;
	}

	.resp-pagewrap-ml {
		margin-left: 263px !important;
	}

	.page-sidebar.mini {
		margin-top: 0px !important;
	}

	.width-nav-icon {
		width: 35px;
	}

	.scroll-hide > span {
		font-size: 12px !important;
	}

	.navbar-top-links li a {
		padding: 10px;
		min-height: 42px !important;
		padding-bottom: 0px;
	}

	.dealer-info {
		margin-top: 25px;
	}

		.dealer-info > strong {
			margin-left: 8px;
		}

	.resp-global-filter {
		padding-bottom: 0px !important;
		height: 38px;
	}

	.breadcrumb li a:after {
		border-width: 13px !important;
		top: 100% !important;
		margin-top: -26px !important;
	}

	.breadcrumb li a:before {
		border-top: none !important;
		border-bottom: none !important;
		border-left: none !important;
	}

	.page-sidebar i.fa {
		font-size: 15px !important;
	}

	.kpitilesvalues {
		font-size: 25px !important;
	}

	.resp-box-height-forecast {
		min-height: 180px;
	}

	/* Added by ~ Anu- Start*/

	.resp-nav-bar-mr {
		margin-right: 21px;
	}

	.resp-nav-bar-ht {
		min-height: 50px !important;
	}

	.resp-fs-18 {
		font-size: 18px !important;
	}

	.page-sidebar.mini {
		margin-top: 0px;
	}

	/*End*/

}

@media screen and (orientation:landscape) and (max-width: 1023px) {
	.resp-vsforecast-mt {
		margin-top: 30px;
	}

	.resp-vsforecast-btn-mt {
		padding-bottom: 0px;
	}

	.resp-vsforecast-ht {
		height: 12px;
	}
}

/*Only for mobiles (except Tablet/iPad)*/
@media only screen and (orientation: portrait) and (max-width : 736px) {
	.resp-box-full {
		width: 100% !important;
	}

	.resp-vsforecast {
		display: block;
	}

	.resp-vsforecast-mt {
		margin-top: 30px;
	}

	.resp-vsforecast-btn-mt {
		margin-top: 5px;
	}

	.resp-ta-left {
		text-align: left !important;
	}

	.resp-vsforecast-ht {
		height: 40px;
	}

	.resp-reset-ml {
		margin-left: 19px;
	}
}
/*End*/


/*Responsive End*/

    @media print {

        html, body {
            height: 99%;
        }

        @page {
            size: 5.5in 8.5in;
            size: landscape;
        }

        .noPrint {
            display: none;
        }

        progress-bar.ng-isolate-scope {
            display: none;
        }

        svg {
            width: 100% !important;
        }

        breadcrumb a.ng-binding {
            background: #BCC2CB !important;
        }

        .btn-primary {
            background: #337ab7 !important;
        }

        #data-table_length {
            display: none;
        }

        #data-table_filter {
            display: none;
        }

        .print:last-child {
            page-break-after: auto;
        }
    }

.ui-dialog {
	z-index: 2147483646 !important;
}

.ui-dialog-titlebar-buttonpane {
	overflow: hidden;
	height: 20px !important;
}

.align-collapse-div {
	width: 100%;
}

.move-top {
	/*margin-top: -50px;*/
	margin-top: -55px; /* Edited by ~ Anu */
	-webkit-transition: all 0.9s;
	-moz-transition: all 0.9s;
	transition: all 0.9s;
}

.link-selected {
	background-color: #ddd;
}

.exp-col:hover {
	background: rgba(255, 255, 255, 1);
	background: #ccc;
	color: steelblue;
	box-shadow: 3px 3px 5px #ccc;
}

.rzslider .rz-tick {
	position: absolute;
	top: 3px;
	left: 0;
	width: 2px;
	height: 8px;
	margin-left: 11px;
	text-align: center;
	cursor: pointer;
	background: #d8e0f3;
	border-radius: 50%;
}

.rzslider .rz-ticks-values-under .rz-tick-value {
	top: initial;
	bottom: -19px;
	font-size: 9px;
}

.rzslider .rz-bubble {
	bottom: 9px;
	padding: 1px 3px;
	color: #55637d;
	cursor: default;
}

.fa-2 {
	font-size: 2em;
	margin-right: .07142857em;
}

/*#panel3 div.cmp-button-group {
	float: right;
	margin-right: -48px;
}

.cmp-button-group-fi {
	float: right;
	margin-right: 1px; /* Edited by ~ Anu
}*/

/*Added by ~ Anu - Start*/

.cmp-button-group-sd {
	float: right;
	margin-right: 1px;
}

/*End*/

.hovicon.effect-1.sub-a:hover {
	background: none;
	color: steelblue;
	box-shadow: none;
}

.daterangepicker .calendar th, .daterangepicker .calendar td {
	/*font-family: "Verdana, Helvetica, Arial, sans-serif !important";*/
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


/* Added by ~ Anu- Start*/

.bg-nav-icon {
	background-color: #eee;
	min-height: 55px;
}

	.bg-nav-icon:hover {
		background-color: #ccc !important;
	}

.btn-link:focus {
	outline: none;
}

.bg-red{
    /*background-color:red !important;*/
      background-color:#f53d50 !important;
}
.bg-green{
    /*background-color:green !important;*/
      background-color:#4c9457 !important;
}
.bg-yellow{
    /*background-color:yellow !important;*/
      background-color:#F4C549 !important;
}
.bg-grey{
    /*background-color:grey !important;*/
      background-color:#337ab7 !important;
}

.width-60{
    width:60px;
}

.form-control-select{
    display:inline-block;
    width:200px;
}
.form-control-select-width{
    display:inline-block;
    width:100px;
}

.minHeight-620{
	min-height:620px
}

.minHeight-200{
	min-height:200px
}

.minHeight-400{
	min-height:400px
}

.minHeight-500{
	min-height:500px
}

.minHeight-550{
	min-height:550px
}

.higlightedArea{
        background-color: #fcfcfc;
        border: 1px solid #ddd;
        padding: 5px;
        border-radius: 4px;
    }

/* Added for dumbbell chart*/
.chart-label{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  fill: steelblue;
}

.axis-y path
,.axis-y line{
       display:none
    }

.grid line {
  stroke: lightblue;
  stroke-opacity: 0.4;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}