﻿@media print {
    .page-sidebar, .navbar-top-links {
        display: none;
    }

    #page-wrapper.condensed {
        margin-left: 0px;
    }

    .green {
        color: green !important;
    }

    .red {
        color: red !important;
    }

    svg {
        width: 100%;
    }

    .hide-seperator-print {
        border: none;
    }
}
