/*Slider Menu CSS*/

.chat-window-wrapper {
	font-family: 'Arial';
	font-size: 13px;
	position: fixed;
	top: 0;
	right: 0;
	width: 280px;
	height: 100%;
	z-index: 5;
	-webkit-transition: opacity 0.1s ease;
	transition: opacity 0.1s ease;
}

	.chat-window-wrapper .inner-content {
		height: 100%;
		overflow: hidden;
	}

	.chat-window-wrapper .chat-header {
		height: 58px;
	}

	.chat-window-wrapper .side-widget {
		margin-top: 15px;
		display: block;
	}

	.chat-window-wrapper .side-widget-title {
		color: #808285;
		font-size: 10.5px;
		font-weight: 600;
		letter-spacing: 0.2px;
		padding-left: 31px;
		padding-right: 31px;
		text-transform: uppercase;
	}

	.chat-window-wrapper .side-widget-content {
		display: block;
	}

		.chat-window-wrapper .side-widget-content ul.groups {
			list-style: none;
			margin: 0;
			margin-top: 10px;
			padding-left: 10px;
			/*max-height:780px*/;
			overflow-y: scroll;
		}

ul.groups li {
	padding: 8px 12px;
	border-top: 1px solid #FFF;
	background-color: #ECECEC;
}

	ul.groups li:hover {
		background-color: #E2E2E2;
	}

	ul.groups li.active {
		color: #FFF;
		background-color: #17bed0;
	}

.chat-window-wrapper .side-widget-content ul.groups li {
	line-height: 25px;
}

.chat-window-wrapper .side-widget-content ul.groups > li > a {
	color: #ffffff;
	font-size: 13px;
	padding: 5px 31px;
}

	.chat-window-wrapper .side-widget-content ul.groups > li > a:hover {
		text-decoration: none;
	}

.chat-window-wrapper .user-details-wrapper {
	display: block;
	margin: 8px;
	padding: 10px;
	border-radius: 3px;
}

	.chat-window-wrapper .user-details-wrapper .status-icon {
		margin-right: 0px;
	}

	.chat-window-wrapper .user-details-wrapper.active:hover {
		cursor: pointer;
	}

	.chat-window-wrapper .user-details-wrapper:hover {
		cursor: pointer;
	}

	.chat-window-wrapper .user-details-wrapper > .user-profile {
		display: inline-block;
		float: left;
		border-radius: 100px 100px 100px 100px;
		height: 35px;
		overflow: hidden;
		width: 35px;
		margin-right: 13px;
	}

	.chat-window-wrapper .user-details-wrapper > .user-details {
		display: inline-block;
		float: left;
	}

		.chat-window-wrapper .user-details-wrapper > .user-details > .user-name {
			display: block;
			color: #ffffff;
		}

		.chat-window-wrapper .user-details-wrapper > .user-details > .user-more {
			display: block;
			color: #747b89;
			font-size: 11px;
			width: 120px;
		}

.chat-window-wrapper .chat-messages {
	position: relative;
	overflow: auto;
	height: calc(100% - 155px);
}

	.chat-window-wrapper .chat-messages .user-details-wrapper {
		padding: 6px;
	}

		.chat-window-wrapper .chat-messages .user-details-wrapper:hover {
			cursor: auto;
		}

.chat-window-wrapper .user-details-status-wrapper {
	display: inline-block;
	float: left;
	min-width: 32px;
	margin-top: 8px;
}

.chat-window-wrapper .user-details-count-wrapper {
	display: inline-block;
	float: left;
	margin-top: 8px;
}

.sidr {
	box-shadow: none;
}

	.sidr ul.chat-window li {
		border: 0px;
	}

		.sidr ul.chat-window li:hover > a,
		.sidr ul.chat-window li:hover > span,
		.sidr ul.chat-window li.active > a,
		.sidr ul.chat-window li.active > span,
		.sidr ul.chat-window li.sidr-class-active > a,
		.sidr ul.chat-window li.sidr-class-active > span {
			box-shadow: none;
			background-color: #fed8db;
			line-height: 16px;
		}

.scrollup {
	background: url('../../img/pullup.png') no-repeat;
	background-position: 0px 0px;
	width: 27px;
	height: 27px;
	position: fixed;
	bottom: 92px;
	left: 235px;
	display: none;
	text-indent: -9999px;
	z-index: 101;
}

	.scrollup:hover {
		background-position: -30px 0px;
	}

	.scrollup.to-edge {
		left: 35px;
	}

.chat-window-wrapper {
	font-family: 'Arial';
	font-size: 13px;
	position: fixed;
	top: 0;
	right: 0;
	width: 260px;
	background-color: #f8f8f8;
	height: 100%;
	z-index: 89;
	-webkit-transition: opacity 0.1s ease;
	transition: opacity 0.1s ease;
	border-color: #e7e7e7;
}

	.chat-window-wrapper .inner-content {
		height: 100%;
		overflow: hidden;
	}

	.chat-window-wrapper .chat-header {
		height: 58px;
	}

	.chat-window-wrapper .side-widget {
		margin-top: 15px;
		display: block;
	}

	.chat-window-wrapper .side-widget-title {
		color: #808285;
		font-size: 10.5px;
		font-weight: 600;
		letter-spacing: 0.2px;
		padding-left: 31px;
		padding-right: 31px;
		text-transform: uppercase;
	}

	.chat-window-wrapper .side-widget-content {
		display: block;
	}

/*Slider Menu CSS END*/



/*** Page sidebar ***/
body.bottom-header .page-sidebar {
	margin-top: 0;
	margin-bottom: 58px;
}

.menu-non-fixed .page-sidebar {
	margin-top: 0;
	padding-top: 58px;
}

.page-sidebar {
	display: inline-block;
	float: left;
	position: fixed;
	width: 250px;
	margin-top: 12px;
	padding-bottom: 105px;
	z-index: 2;
}
	/*.menu-non-fixed .footer-widget {
    z-index: 100;
  }*/
	.page-sidebar .page-sidebar-wrapper {
		display: inline-block;
		float: left;
		height: 100%;
		max-width: 250px;
		width: 100%;
	}

	.page-sidebar.fixed {
		position: fixed;
	}

	.page-sidebar ul.nav {
		width: 100%;
	}

	.page-sidebar ul {
		width: 250px;
	}
/*** Page content ***/
/*.page-content {
    margin-left: 250px;
    min-height: 100%;
  }
  .page-content.no-min-height {
    min-height: auto;
  }
  .full-width-page .page-content {
    margin-left: 0px !important;
  }
  .inner-menu {
    padding-top: 60px;
  }*/
/** Const size button for medium devices **/
/*.btn-cons-md {
    min-width: 120px;
  }
  .boxed-layout {
    background-color: #f6f7f8;
  }
  .boxed-layout .container {
    position: relative;
  }
  .boxed-layout .chat-window-wrapper {
    position: absolute;
  }
  .boxed-layout .chat-window-wrapper .inner-content .chat-window-wrapper {
    margin-right: 0;
  }
  .horizontal-menu .header-seperation {
    display: none !important;
  }*/




/*Styling sidebar menu start*/
body.hide-top-content-header .page-sidebar.mini .page-sidebar-wrapper > ul {
	padding: 0;
}

body.hide-sidebar .header-seperation {
	display: none;
}

body.hide-sidebar .page-sidebar {
	display: none;
}

body.hide-sidebar .page-content {
	margin-left: 0;
}

body.hide-sidebar .scrollup {
	left: 34px;
}

body.menu-non-fixed .page-sidebar {
	position: absolute;
}
/*body.right-side-bar .page-wrapper {
  margin-right: 250px;
  margin-left: 0;
}
body.right-side-bar .page-content.condensed {
  margin-left: 0;
  margin-right: 50px;
}
body.right-side-bar .page-sidebar {
  right: 0;
}*/

.page-sidebar {
	background-color: #f8f8f8 !important;
	height: 100%;
	font-family: "Helvetica Neue,Helvetica,Arial,sans-serif";
	-webkit-backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s ease;
	transition: transform 0.3s ease;
}

	.page-sidebar.full-length {
		padding-bottom: 57px;
	}
	/*.page-sidebar .outer-tab-nav-section {
  display: inline-block;
  width: 45px;
  position: absolute;
  height: 100%;
  background-color: steelblue !important;
}*/
	/*.page-sidebar .inner-menu {
  display: inline-block;
  width: 200px;
}
.page-sidebar .inner-menu ul {
  width: 200px;
}*/
	.page-sidebar .page-sidebar-wrapper {
		position: relative;
		overflow-y: auto;
	}

		.page-sidebar .page-sidebar-wrapper > ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}

			.page-sidebar .page-sidebar-wrapper > ul > li {
				display: block;
				margin: 0;
				padding: 0;
				border: 0px;
			}

				.page-sidebar .page-sidebar-wrapper > ul > li > a {
					color: steelblue;
					display: block;
					position: relative;
					margin: 0;
					border: 0px;
					padding: 11.5px 31px 11.5px 31px;
					text-decoration: none;
					font-size: 14px;
					font-weight: normal;
				}

					.page-sidebar .page-sidebar-wrapper > ul > li > a.open {
						background: #313131;
					}

					.page-sidebar .page-sidebar-wrapper > ul > li > a i {
						margin-right: 5px;
						text-shadow: none;
					}

					.page-sidebar .page-sidebar-wrapper > ul > li > a > .arrow.open:before {
						float: right;
						margin-top: 1px;
						margin-right: 3px;
						display: inline;
						font-family: FontAwesome;
						height: auto;
						font-size: 16px;
						content: "\f107";
						font-weight: 300;
						text-shadow: none;
					}

				.page-sidebar .page-sidebar-wrapper > ul > li:last-child > a {
					border-bottom: 1px solid transparent !important;
				}

				.page-sidebar .page-sidebar-wrapper > ul > li a i {
					color: #8b91a0;
					width: 20px;
					text-align: center;
					display: inline-block;
				}

				.page-sidebar .page-sidebar-wrapper > ul > li.active > a {
					border-top-color: transparent !important;
					color: #ffffff;
					border: none;
					text-shadow: none;
				}

					.page-sidebar .page-sidebar-wrapper > ul > li.active > a i {
						color: #ffffff;
					}

				.page-sidebar .page-sidebar-wrapper > ul > li.active i {
					color: #ffffff;
				}

				.page-sidebar .page-sidebar-wrapper > ul > li.active > ul.sub-menu {
					display: block;
				}

					.page-sidebar .page-sidebar-wrapper > ul > li.active > ul.sub-menu > li ul.sub-menu {
						display: block;
					}

				.page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu {
					display: none;
					list-style: none;
					clear: both;
					margin: 0px;
					background-color: steelblue;
					padding: 8px 0px 10px 0px;
				}

					.page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu > li {
						background: none;
						margin: 0px;
						padding: 0px;
						margin-top: 1px !important;
					}

						.page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu > li > a {
							margin-left: 0px;
							padding-left: 5px;
							display: block;
							margin: 0px 0px 0px 0px;
							padding: 5px 0px;
							padding-left: 40px !important;
							color: #e1eaf1;
							text-decoration: none;
							text-shadow: 0 1px 1px #000;
							font-size: 13px;
							font-weight: 300;
							background: none;
						}

.childActive {
	background-color: #286090 !important;
}

.parentActive {
	background-color: #286090 !important;
}

	.parentActive > a {
		background-color: #286090 !important;
	}

.page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu > li > a > i {
	color: #e1eaf1;
}

.page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu > li > a:hover {
	background: lightsteelblue !important;
}

.page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu > li:first-child > a {
	border-top: 0px !important;
}

.page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu > li ul.sub-menu {
	display: none;
	list-style: none;
	clear: both;
	margin: 0px 0px 0px 0px;
	padding-left: 0;
}

	.page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu > li ul.sub-menu li {
		background: none;
		margin: 0px;
		padding: 0px;
	}

.page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu > li > ul.sub-menu > li > a {
	margin-left: 70px;
}

.page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {
	padding-left: 80px;
}

.page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu li > a > .arrow:before {
	float: right;
	margin-top: 1px;
	margin-right: 20px;
	display: inline;
	font-size: 16px;
	font-family: FontAwesome;
	height: auto;
	content: "\f104";
	font-weight: 300;
	text-shadow: none;
}

.page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu li > a > .arrow.open:before {
	float: right;
	margin-top: 1px;
	margin-right: 18px;
	display: inline;
	font-family: FontAwesome;
	height: auto;
	font-size: 16px;
	content: "\f107";
	font-weight: 300;
	text-shadow: none;
}

.page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu li > ul.sub-menu > li > a {
	display: block;
	padding: 5px 0px;
	color: #ccc;
	text-decoration: none;
	text-shadow: 0 1px 1px #000;
	font-size: 13px;
	font-weight: 300;
}

	.page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu li > ul.sub-menu > li > a > i {
		font-size: 13px;
	}

.page-sidebar .page-sidebar-wrapper > ul > li.start > a {
	border-top-color: transparent !important;
}

.page-sidebar.mini {
	width: 50px;
	overflow: visible !important;
	background-color: steelblue !important;
	height: 100%;
	margin-top: 0px;
	position: fixed;
	z-index: 90;
}

	.page-sidebar.mini .page-sidebar-wrapper > ul {
		width: 50px;
		/*padding: 60px 0 0;*/
	}

		.page-sidebar.mini .page-sidebar-wrapper > ul > li > ul.sub-menu {
			position: absolute;
			margin-top: -46px;
			margin-left: 50px;
			width: auto;
			z-index: 110;
			min-width: 250px;
		}

		.page-sidebar.mini .page-sidebar-wrapper > ul > li > a {
			padding: 13px;
			color: #ffffff;
		}

		.page-sidebar.mini .page-sidebar-wrapper > ul > li a i {
			color: #ffffff;
		}

	.page-sidebar.mini .page-sidebar-wrapper > p {
		display: none;
	}

	.page-sidebar.mini .page-sidebar-wrapper > .side-bar-widgets {
		display: none;
	}

	.page-sidebar.mini .user-info {
		display: none;
	}

	.page-sidebar.mini .status-widget {
		display: none;
	}

	.page-sidebar.mini .notification-alert {
		display: none;
	}

	.page-sidebar.mini ul li span.title {
		display: none;
	}

	.page-sidebar.mini ul li span.arrow {
		display: none;
	}

	.page-sidebar.mini ul li span.badge {
		display: none;
	}

	.page-sidebar.mini ul li ul li span.title {
		display: inline;
	}

	.page-sidebar.mini ul li ul li span.arrow {
		display: inline;
	}

	.page-sidebar.mini ul.big-items span.badge {
		display: inline-block;
	}

	.page-sidebar.mini ul.small-items span.badge {
		display: inline-block;
	}

	.page-sidebar.mini .profile-wrapper {
		display: none;
	}

	.page-sidebar.mini .footer-widget {
		display: none;
	}

.page-sidebar ul.folders {
	list-style: none;
	margin: 0px;
	padding: 0;
}

	.page-sidebar ul.folders > li {
		border: 0 none;
		display: block;
		margin: 0;
		padding: 0;
	}

		.page-sidebar ul.folders > li > a {
			padding: 5px 31px;
			font-size: 13px;
			color: #ffffff;
			display: block;
			position: relative;
		}

			.page-sidebar ul.folders > li > a:hover {
				text-decoration: none;
			}

		.page-sidebar ul.folders > li > input {
			margin: 5px 31px;
			font-size: 13px;
			width: 150px;
		}

.page-sidebar ul > li > a > .arrow:before {
	float: right;
	margin-top: 1px;
	margin-right: 5px;
	display: inline;
	font-size: 16px;
	font-family: FontAwesome;
	height: auto;
	content: "\f104";
	font-weight: 300;
	text-shadow: none;
}

.nav-collapse.collapse {
	height: 100% !important;
}
/*menu li color change*/
.page-sidebar .page-sidebar-wrapper > ul > li.open > a,
.page-sidebar .page-sidebar-wrapper > ul > li > a:hover,
.page-sidebar .page-sidebar-wrapper > ul > li:hover > a {
	background: steelblue;
	color: #ffffff;
}

.page-sidebar.mini .page-sidebar-wrapper > ul > li a > .label {
	display: none;
}
/*.page-sidebar.mini .page-sidebar-wrapper > ul > li.open > a,
.page-sidebar.mini .page-sidebar-wrapper > ul > li > a:hover,
.page-sidebar.mini .page-sidebar-wrapper > ul > li:hover > a {
  background: #0b9c8f;
}*/
.page-sidebar.mini .page-sidebar-wrapper > ul > li > a:hover,
.page-sidebar.mini .page-sidebar-wrapper > ul > li:hover > a {
	background: Lightsteelblue;
}
/*.page-sidebar.mini .page-sidebar-wrapper > ul > li.active > a i,
.page-sidebar .page-sidebar-wrapper > ul > li:hover > a i {
  color: #ffffff !important;
}*/
.page-sidebar .page-sidebar-wrapper ul > li > a > .arrow:before,
.page-sidebar .page-sidebar-wrapper > ul > li > a > .arrow.open:before {
	color: #919091 !important;
}

.page-sidebar .page-sidebar-wrapper ul > li.active > a .arrow:before,
.page-sidebar .page-sidebar-wrapper > ul > li.active > a .arrow.open:before {
	color: #ffffff !important;
}

.page-sidebar .page-sidebar-wrapper ul > li.open > a i,
.page-sidebar .page-sidebar-wrapper > ul > li.open > a i {
	color: #ffffff !important;
}

.page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu > li.active > a,
.page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu > li > a:hover {
	color: #ffffff !important;
}

.page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu li > ul.sub-menu > li.active > a,
.page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu li > ul.sub-menu > li > a:hover,
.page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu li.open > a {
	color: #ffffff !important;
}

.page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu a .arrow:before,
.page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu a .arrow.open:before {
	color: #919091 !important;
}

.page-sidebar .page-sidebar-wrapper > ul > li > ul.sub-menu > li.active > a {
	font-weight: 600;
}

.ie8 .page-sidebar {
	position: absolute;
	width: 225px;
}

	.ie8 .page-sidebar ul {
		width: 225px;
	}

.mini .page-sidebar-wrapper {
	overflow: visible !important;
}
/*end*/

.mini .quick-section > li > a:focus {
	width: 100%;
	color: steelblue;
}

.mini .quick-section > li > a:hover {
	background-color: lightsteelblue;
	width: 100%;
	color: steelblue;
}

.mini .quick-section > li > a {
	padding: 13px 17px 13px;
	color: white;
}

#page-wrapper {
	margin-left: 250px;
}

	#page-wrapper.condensed {
		margin-left: 50px;
	}
/*#wrapper .condensed{
margin-left:250px;
}*/

@media (min-width:0px) and (max-width:480px) {
	#page-wrapper {
		margin-left: 10px;
	}
}

@media (min-width: 768px) {
	.page-sidebar.mini {
		margin-top: 12px;
	}
}
