﻿@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en" ng-app="dealerWizard">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Dealer Wizard - Dashboard</title>
    <link rel="shortcut icon" href="../../images/single-char-logo-inverted.png">

	<!-- Custom Fonts -->
	@Styles.Render("~/font-awesome/font-awesome.min.css")

	@Styles.Render("~/bundles/style/thirdparty")
    @Styles.Render("~/bundles/style/app")

    <link href="~/Content/thirdparty/tree-control.css" rel="stylesheet" />
    <link href="~/Content/thirdparty/tree-control-attribute.css" rel="stylesheet" />

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body ng-controller="rootCtrl">
	<div id="wrapper">
		<!-- Navigation -->
		<nav id="header_nav" class="navbar navbar-default navbar-fixed-top navbar-custom noPrint" role="navigation" style="margin-bottom: 0">
			<div class="navbar-header background-f8">
				<img class="banner" alt="Dealer" src="~/Content/images/dms-logo-resized.gif" width="183" height="55" />
			</div>
			<div class="navbar-header ml-10 mt-5 resp-inline-block scroll-hide">
                <span ng-bind="loggedInUser.name" class="fw-bold"></span> <font size="1"> <a href="/DW_2_0/ASP_Pages/PasswordChange.aspx">Change Password</a></font>
				<span ng-bind="loggedInUser.selectedDealerName" class="show"></span>
			</div>
			<!-- /.navbar-header -->
			<ul id="move-top" class="nav navbar-top-links navbar-right background-f8 resp-inline-block resp-font-size-0 resp-right">
				<!-- /.dropdown -->
				<!--<li class="dropdown resp-font-size-14"> 
					<a class="dropdown-toggle cursor-pointer" data-toggle="dropdown">
						<i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i><i class="fa fa-sign-out" aria-hidden="true"></i>
					</a>
					<ul class="dropdown-menu dropdown-user">
						<li>
							<a href="#/userpreference"><i class="fa fa-gear fa-fw"></i> Settings</a>
						</li>
						<li class="divider"></li>
						<li>
							<a class="cursor-pointer" ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
						</li>
					</ul>
				</li>-->
				<!-- /.dropdown-user -->
				<li class="resp-font-size-15" title="Dealer List" data-placement="bottom" data-toggle="tooltip" trigger="hover">
					<a id="chat-menu-toggle" href="#/sidr" class="chat-menu-toggle bg-nav-icon resp-nav-bar-mr resp-nav-bar-ht">
						<div class="iconset top-chat-dark "><i class="fa fa-clipboard" id="chat-message-count"></i></div>
					</a>
				</li>
				<li class="resp-ml-neg-18 resp-font-size-15 clr-margin-right width-nav-icon"  title="Logout" data-placement="bottom" data-toggle="tooltip">
					<a class="cursor-pointer bg-nav-icon resp-nav-bar-ht" ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i></a>
				</li>
				<!-- /.dropdown -->
			</ul>

            <div style="float:right;">
                <div id="divSocialMedia" style="margin:7px 0px 7px 10px;float:left;">
                    <table>
                        <tr>
                            <td style="padding-right:5px;">
                                <a href="https://www.facebook.com/dealerwizardsoftware" target="_blank">
                                    <img id="FacebookLogo" alt="Facebook Logo" src="~/images/FacebookLogo.jpg" style="height:41px;width:41px;border-width:0px;">
                                </a>
                            </td>
                            <td style="padding-right:5px;">
                                <a href="https://twitter.com/DealerWizard" target="_blank">
                                    <img id="ctl00_TwitterLogo" alt="Twitter Logo" src="~/images/TwitterLogo.jpg" style="height:41px;width:41px;border-width:0px;">
                                </a>
                            </td>
                            <td style="padding-right:5px;">
                                <a href="https://www.linkedin.com/company/dealer-wizard" target="_blank">
                                    <img id="ctl00_LinkedInLogo" alt="LinkedIn Logo" src="~/images/LinkedInLogo.jpg" style="height:41px;width:41px;border-width:0px;">
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>

                <!-- Live Chat image link will appear here -->
                <div id="MyLiveChatContainer" style="margin:7px 10px 7px 0px;float:left;"></div>
            </div>

		</nav>

		<!-- BEGIN SIDEBAR -->
		<menu-Bar></menu-Bar>
		<!-- END SIDEBAR -->

		<div id="page-wrapper" style="min-height:100vh" class="condensed">
            <div ng-view></div>
		</div>

		<!-- BEGIN Slider -->
		<sidebar-Dealer-List on-Dealer-Change="selectDealer(ctx)" data="dealerList" default-Dealer-Ref-Id="currentDealerRefId"></sidebar-Dealer-List>
		<!-- END Slider -->
	</div>
    <script type="text/javascript">
        window.__dwenv = window.__dwenv || {};
        window.__dwenv.apiUrl = "@Url.AppServiceUrl()";
    </script>
    <% for (key in htmlWebpackPlugin.files.js) { %>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[key] %>"></script>
    <% } %>

    @Scripts.Render("~/bundles/templates")
    <!--<script src="~/dist/appModule.js"></script>-->
        <script>
            $.fn.bootstrapBtn = $.fn.button.noConflict();
            $('#header_nav').data('size', 'big');
            $('[data-toggle="tooltip"]').tooltip();
            $('[data-toggle="tooltip"]').on('hidden.bs.tooltip', function () {
                $('[trigger="hover"]').css('margin-right','5px');
            })
            $('[data-toggle="tooltip"]').on('shown.bs.tooltip', function () {
                $('[trigger="hover"]').css('margin-right', '5px');
            })
            function init() {
                if ($(window).width() < 1023) {
                    //UI : Resize Header on scroll by ~ #Haseeb
                    $(window).scroll(function () {
                        if ($(document).scrollTop() > 300) {
                            var scrollPos = parseInt($(document).scrollTop().toString().slice(0, -1));
                            //if ($('#header_nav').data('size') == 'big') {
                            $('#header_nav').data('size', 'small');
                            if (scrollPos < 110) {
                                if (scrollPos < 60) {
                                    $('.scroll-hide').animate({ fontSize: '' + (17) - (parseInt(scrollPos.toString().slice(0, -1))) + 'px' }, 1800);//.css('font-size', '' + (17) - (parseInt(scrollPos.toString().slice(0, -1))) + 'px');
                                    $('#move-top').css('margin-top', '' + ((-scrollPos) + 30) + 'px');
                                } else {
                                    $('.scroll-hide').css('display', 'none');
                                    $('.scroll-hide').children().addClass('hide');
                                    $('#move-top').removeAttr("style").addClass('move-top');
                                }
                                $('#header_nav').stop().animate({
                                    height: '' + (145) - (scrollPos) + 'px'
                                }, 2000);
                            }
                            //}
                        }
                        else {
                            if ($('#header_nav').data('size') == 'small') {
                                $('#header_nav').data('size', 'big');
                                $('.scroll-hide').css('display', 'inline-block');
                                $('#move-top').removeClass('move-top');
                                $('.scroll-hide').children().removeClass('hide');
                                $('#header_nav').stop().animate({
                                    height: '110px'
                                }, 2000);
                            }
                        }
                    });
                }
            }
            //window.onload = init();
        </script>

        <script type="text/javascript" async="async" defer="defer" data-cfasync="false" src="https://mylivechat.com/chatbutton.aspx?hccid=43960756"></script>

    </body>
    </html>