<div class="chat-window-wrapper hide">
    <div id="main-chat-wrapper" class="inner-content">
        <div class="chat-window-wrapper" id="chat-users">
            <div class="chat-header">
                <div class="pull-left">
                    <input type="text" placeholder="search">
                </div>
                <div class="pull-right">
                    <a href="#" class=""><div class="iconset top-settings-dark "></div> </a>
                </div>
            </div>
            <div class="side-widget">
                <div class="side-widget-title">Dealers</div>
                <div class="side-widget-content">
                    <div id="groups-list" class="DealerSliderMenu scrollbar-inner">
                        <ul class="groups ">
                            <li role="presentation">
                                <div class="input-group input-group-sm search-control">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </span>
                                    <input type="text" id="search-dealer-input" class="form-control" placeholder="Search" ng-model="query" />
                                </div>
                            </li>
                            <li class="cursor-pointer" ng-class="{'active': (item.ReferenceDealerId == selectedDealerId)}" ng-click="selectDealer(item)" ng-repeat="item in dealerList | filter:query">{{item.Name}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
	if ($(window).width() < 1023) {
			$("#chat-users").css({ 'max-height': screen.height, 'overflow-y': 'auto' });
	}
</script>