﻿<div class="row">
    <div class="col-lg-12">
        <br />
    </div>

</div>
<div class="container-fluid" style="height:1024px">
    <form class="form-horizontal" role="form" name="form1">
        <div class="form-group" style="margin-top:5px;">
            <label for="ReportName" class="col-sm-2 control-label" style="width:auto;">Report Name</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="ReportName" ng-model="ReportName" placeholder="Report Name" required>
            </div>
            <label for="DepartmentName" class="col-sm-2 control-label">Department</label>
            <div class="col-sm-2">
                <select class="form-control" ng-model="DepartmentKey"
                        ng-change="getData(DepartmentKey)" required>
                    <option ng-repeat="dep in departments" value="{{dep.Department_Key}}">{{dep.Department_Name}}</option>
                </select>
            </div>
            <label for="ReportType" class="col-sm-2 control-label">Report Type</label>
            <div class="col-sm-2">
                <select class="form-control" ng-model="ReportType" required>
                    <option value="Table">Table</option>
                    <option value="BarChart">BarChart</option>
                    <option value="BarChart">BubbleChart</option>
                  
                </select>

            </div>
        </div>
    </form>

    <form role="form" class="form-inline" name="form2">
        <h4>Measures</h4>
        <div style="display:block;height:300px;width:100%;padding:10px;overflow-y:scroll; border: 1px solid grey;">

       
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-lg-">Column Name</th>
                        <th class="col-lg-2">Measures</th>
                        <th class="col-lg-2">Is Link</th>
                        <th class="col-lg-2">Link Report</th>
                        <th class="col-lg-2">Sequence</th>
                        <th class="col-lg-1">Order By</th>
                        <th class="col-lg-1">
                            <button type="button" class="btn btn-primary" data-ng-click="addMeasure()">Add Measure</button>
                        </th>
                    </tr>
                </thead>
            </table>
            <div id="add" class="row" ng-repeat="count in measure track by $index" style="margin-top:10px;">
               
                <div class="form-group col-lg-2">
                    <input type="text" id="column" value="" ng-model="count.Column_Display_Name" class="form-control" placeholder="Column Name" required>
                </div>
                <div class="form-group col-lg-2">
                    <select class="form-control" style="width:170px;" ng-model="count.Column_Key" ng-options="coldisplayname.Column_key as coldisplayname.Column_Display_Name for coldisplayname in reportmetadata.ColumnsData | filter:{IsMeasure:'true'}" required></select>
                </div>
                <div class="form-check col-lg-2">
                    <input style="width:80px;" class="custom-control-input" type="checkbox" value="true" ng-model="count.Link_Enable" />
                </div>

                <div class="form-group col-lg-2">
                    <select class="form-control" style="width:170px;margin-left:-67px;" ng-model="count.Report_Ref_Key" ng-disabled="!count.Link_Enable" ng-required="count.Link_Enable" ng-options="x.Report_Key as x.Report_Name for x in reportmetadata.ReportsData | filter:{Status:'Active'}">{{x.Report_Name}}</select>
                </div>
                <div class="form-group col-lg-2">

                    <select style="width:150px;" class="form-control" ng-model="count.Sequence" ng-options="i for i in d" required></select>
                </div>

                <div class="form-check col-lg-1 myradio">
                   
                    <input type="radio" name="Order_By" ng-model="count.Order_By" value="1" ng-click="changeOrder_Measure(count.Order_By,$index+0)"/>

                </div>
                <div class="form-group col-lg-1">
                    <button type="button" class="btn btn-md btn-danger" ng-click="Remove();">
                        <span><i class="fa fa-times"></i></span>
                    </button>
                </div>
            </div>
        </div>

        <h4>Dimensions</h4>
        <div style="display:block;height:300px;width:100%;padding:10px;overflow-y:scroll; border: 1px solid grey;">

            <table class="table">
                <thead>
                    <tr>
                        <th class="col-lg-2">Column Name</th>
                        <th class="col-lg-2">Dimensions</th>
                        <th class="col-lg-2">Is Link</th>
                        <th class="col-lg-2">Link Report</th>
                        <th class="col-lg-2">Sequence</th>
                        <th class="col-lg-1">Order By</th>
                        <th class="col-lg-1">
                            <button type="button" class="btn btn-primary" data-ng-click="addDimension()">Add Dimension</button>
                        </th>
                    </tr>
                </thead>
            </table>
            <div id="add" class="row" ng-repeat="dim in dimension track by $index" style="margin-top:10px;">
               
                <div class="form-group col-lg-2">
                    <input type="text" id="column" value="" ng-model="dim.Column_Display_Name" class="form-control" placeholder="Column Name" required>
                </div>
                <div class="form-group col-lg-2">
                    <select class="form-control" style="width:170px;" ng-model="dim.Column_Key" ng-options="coldisplayname.Column_key as coldisplayname.Column_Display_Name for coldisplayname in reportmetadata.ColumnsData | filter:{IsMeasure:'false'}" required></select>
                </div>
                <div class="form-group col-lg-2">

                    <input style="width:80px;" type="checkbox" value="true" ng-model="dim.Link_Enable" />
                </div>

                <div class="form-group col-lg-2">
                    <select style="width:170px;margin-left:-67px;" class="form-control" ng-model="dim.Report_Ref_Key" ng-disabled="!dim.Link_Enable" ng-required="dim.Link_Enable" ng-options="x.Report_Key as x.Report_Name for x in reportmetadata.ReportsData | filter:{Status:'Active'}"></select>
                </div>
                <div class="form-group col-lg-2">
                    <select style="width:150px;" class="form-control" ng-model="dim.Sequence" ng-options="i for i in d" required></select>
                </div>

                <div class="form-check col-lg-1 myradio">
                    
                    <input type="radio" name="Order_By" ng-model="dim.Order_By" value="1" ng-click="changeOrder_Dimension(dim.Order_By,$index+0)"/>
                </div>

                <div class="form-group col-lg-1">
                    <button type="button" class="btn btn-md btn-danger" ng-click="RemoveDimension();">
                        <span><i class="fa fa-times"></i></span>
                    </button>
                </div>
            </div>




        </div>
    </form>
    <form class="form-horizontal" role="form" style="margin-top:40px;" name="form3">

        <div class="form-group">
            <label for="filtername" class="col-sm-1 control-label">Filter</label>
            <div class="col-sm-4">
                <select multiple class="form-control" style="height:90px;" ng-model="Filter">
                    <option ng-repeat="coldisplayname in reportmetadata.ColumnsData | filter:{IsMeasure: 'false'}" value="{{coldisplayname.Column_key}}">{{coldisplayname.Column_Display_Name}}</option>
                </select>


            </div>
            <label for="publishto" class="col-sm-1 control-label">Publish To</label>
            <div class="col-sm-2">
                <select class="form-control" id="publishto" ng-model="ReportScope">
                    <option value="Everyone">Everyone</option>
                    <option value="Myself">Myself</option>
                    <option value="Dealership">Dealership</option>

                </select>
            </div>
        
            <label for="active" class="col-sm-1 control-label">InActive</label>
            <div class="col-sm-1">
                <input type="checkbox" id="active" ng-model="Status" value="true" />
            </div>
            <div class="col-sm-2" >
                <input type="submit" value="Save" class="btn btn-lg btn-default btn-success" data-ng-click="save()"/>
            </div>
        </div>

    </form>



</div>
