﻿<div class="page-sidebar mini" id="main-menu">
    <div class="pull-left" style="width:100%">
        <ul class="nav quick-section">
            <li class="quicklinks">
                <a class="cursor-pointer" id="layout-condensed-toggle">
                    <i class="fa fa-bars"></i>
                </a>
            </li>
        </ul>
    </div>
    <!-- BEGIN MINI-PROFILE -->
    <div class="page-sidebar-wrapper scrollbar-dynamic" id="main-menu-wrapper">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="parent-menu-wrapper"></ul>
        <div class="clearfix"></div>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
