﻿<progress-Bar data="ShowLoader"></progress-Bar>
<div class="col-lg-12">
    <div style="text-align:right;">
        <div class="btn-group" role="group">
            <input type="button" id="YTDbtn" class="btn btn-xs" ng-class="aggregatedPeriodClass.ytd" ng-click="ChangeAggregatedPeriod('YTD')" value="Month" />
            <input type="button" id="MTDbtn" class="btn btn-xs" ng-class="aggregatedPeriodClass.mtd" ng-click="ChangeAggregatedPeriod('MTD')" value="Day" />
        </div>
        <div style="display:inline-block; margin-left:5px;">
            <label class="switch">
                <input type="checkbox" id="chkPyear"  ng-click="InvokePriorYear()"/>
                <div class="slider round"></div>
            </label><span style="font-size:12px;">Previous Period</span>
        </div>
    </div>
</div>
<div id="divSmallMultiple"></div>