﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Dealer Wizard - Service API</title>
</head>
<body>
    
    <div class="container body-content">
        @RenderBody()   
    </div>
</body>
</html>
