﻿<progress-Bar data="ShowLoader"></progress-Bar>
<div class="row" >
    <div class="col-sm-6">
        <label id="bookValue" class="control-label">Book Value : </label> 
            <select id="ddlBookValue" class="form-control form-control-select">
                <option value="{{item.BookValueName}}" ng-repeat="item in bookValueList">{{item.BookValueText}}</option>                
            </select>
    
    </div>
   <div class="col-sm-6 col-lg-pull-3">
       <label id="percentOfBook" class="control-label">Percent of Book : </label>

  
           <select id="ddlPercentOfBook" class="form-control form-control-select-width">
               <option value="0.9">90%</option>
               <option value="1">100%</option>
               <option value="1.1">110%</option>
               <option value="1.2">120%</option>
           </select>

    
   </div>


</div>
<div class="row" style="display:inline-block;"></div>
<div class="row" ng-show="displayMessage">
    <div class="col-sm-12">
        <p>
            <i class="fa fa-remove"></i> No records to display
        </p>
    </div>
</div>
<div class="row" ng-hide="displayMessage">
    <div style="clear:both;"></div>
    <div class="col-lg-12">
        <breadcrumb items="ReportList" ng-show="_showItemList" on-List-Item-Click="ReportItemClick(ctx)" ng-show="_showItemList"></breadcrumb>
        <table id="data-table-ue" class="table table-bordered table-hover table-striped">
            <thead></thead>
        </table>
        <!-- /.table-responsive -->
    </div>

    <!-- /.col-lg-8 (nested) -->
</div>