﻿
<div class="modal fade-scale in" id="myModal" role="dialog" ng-show="$ctrl.showpopup">
    <div class="modal-dialog modal-lg" style="width:80%">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="ReportPopUpCloseClick()" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div id="model1content">
                    <iframe ng-src="{{path}}"  frameborder="0" style="overflow: hidden; height: 500px; width: 100%; "></iframe>
                    <!--<datatable data="dtData" report-List="ReportList" show-Item-List="_showItemList" on-List-Item-Click="ReportItemClick(ctx)"></datatable>-->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop in" ng-show="$ctrl.showpopup"></div>