﻿<progress-Bar data="ShowLoader"></progress-Bar>
<div class="row">
    <div style="clear:both;"></div>
    <div class="col-lg-12">       
        <ng-transclude></ng-transclude>
        <breadcrumb items="ReportList" ng-show="_showItemList" on-List-Item-Click="ReportItemClick(ctx)" ng-show="_showItemList"></breadcrumb>
        <table id="data-table" class="table table-bordered table-hover table-striped">
            <thead></thead>
        </table>
        <!-- /.table-responsive -->
    </div>

    <!-- /.col-lg-8 (nested) -->
</div>