﻿.table.dataTable.dtr-inline.collapsed>thead>tr:nth-child(2)>td:first-child:before,
table.dataTable.dtr-inline.collapsed>thead>tr:nth-child(2)>th:first-child:before
{
left:20px;
height:14px;
width:14px;
display:block;
color:white;
border:2px solid white;
border-radius:14px;
box-shadow:0 0 3px #444;
box-sizing:content-box;
text-align:center;
font-family:'Courier New', Courier, monospace;
line-height:14px;
content:'+';
background-color:#337ab7;
position: absolute;
}

.table.dataTable.dtr-inline.collapsed>thead>tr:nth-child(2)>th:first-child {
    padding-left: 30px;
    cursor: pointer;
}

.table.dataTable.dtr-inline.collapsed>thead>tr.parent>th:first-child:before
{
    content: '-';
    background-color: #d33333;
}

.table.dataTable>thead>tr.child span.dtr-title {
    display: inline-block;
    min-width: 75px;
    font-weight: bold;
}

.removetheadChildStyle::before {
    color: transparent !important;
    border: none !important;
    border-radius: 0px !important;
    box-shadow: 0 0 0px #444 !important;
    line-height: 14px !important;
    content: none !important;
    background-color: transparent !important;
    cursor: default !important;
}