﻿<div class="row noPrint">
    <div class="col-md-12">
        <br />
    </div>
</div>
<div class="row noPrint">
    <div class="col-lg-12">
        <div class="dealer-info mb-15"><strong>Inventory Optimization</strong></div>
    </div>
</div>
<div class="row  mb-15">
    <div class="col-md-12">
        <rzslider rz-slider-model="$ctrl.inventory.value"
                  rz-slider-options="$ctrl.inventory.options"></rzslider>
        <div class="clearfix"></div>
    </div>
</div>
<div class="row  mb-15">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li data-toggle="tab" class="active"><a>Makes</a></li>
            <li data-toggle="tab"><a>Model</a></li>
        </ul>
    </div>
</div>
<div class="row  mb-15">
    <div class="col-md-6 ">
        <div class="panel-heading"> Active vehicles in inventory</div>
        <dumbbell data="$ctrl.dbData"></dumbbell>
        <div> Total Vehicles: 98</div>
    </div>
    <div class="col-md-6">&nbsp;</div>
</div>
<div class="row  mb-15">
    <div class="col-md-12">
        <datatable1 data="$ctrl.modelData">

        </datatable1>
    </div>
</div>