﻿<div>
    <div class="col-sm-12">
        <!-- /.panel -->
        <!-- /.panel-heading -->
        <div class="panel-body animated-container">
            <datatable data="reportDataList" w-Config="reportConfig" report-List="reportList" render-Element="true" on-List-Item-Click="editReport(ctx)"></datatable>
        </div>
        <!-- /.panel-body -->
        <!-- /.panel -->
        <!-- /.panel -->
    </div>
</div>
