﻿<style>
    .d3-tip {
        line-height: 1;
        font-weight: bold;
        font-size: x-small;
        padding: 5px;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        border-radius: 2px;
    }

        /* Creates a small triangle extender for the tooltip */
        .d3-tip:after {
            box-sizing: border-box;
            display: inline;
            font-size: 10px;
            width: 100%;
            line-height: 1;
            color: rgba(0, 0, 0, 0.8);
            content: "\25BC";
            position: absolute;
            text-align: center;
        }

        /* Style northward tooltips differently */
        .d3-tip.n:after {
            margin: -1px 0 0 0;
            top: 100%;
            left: 0;
        }

    .axis {
        font: 10px sans-serif;
    }

        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }

    .line {
        fill: none;
        stroke: orange;
        stroke-width: 1.5px;
    }

    .divSvgAxis {
        overflow: hidden;
        height: 35px;
        margin-top: -2px;
    }

    .marker {
        stroke: #000;
        stroke-width: 2px;
    }

    .barhover {
        /*stroke:lightsteelblue;
    stroke-width:4px;*/
        /*border: 3px solid ;*/
        fill: steelblue;
        /*-webkit-text-stroke:3px rgb(86, 180, 239);*/
        /*text-shadow:  10px 10px 5 rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);*/
    }

    .btndisabled {
        font-weight: 300;
        color: black;
        border-radius: 3;
        background-color: #ccc;
        box-shadow: none;
        margin: 0px;
    }

        .btndisabled:hover {
            color: #337ab7;
            background-color: #b7b7b7;
        }

    .switch {
        position: relative;
        display: inline-block;
        width: 35px;
        height: 15px;
    }

        .switch input {
            display: none;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 4px;
        left: 0;
        right: 0;
        bottom: 0;
        height: 16px;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 10px;
            width: 10px;
            left: 4px;
            top: 2.5px;
            bottom: 2.5px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(16px);
        -ms-transform: translateX(16px);
        transform: translateX(16px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 12px;
    }

        .slider.round:before {
            border-radius: 40%;
        }

    .heading-filter {
        padding: 10px 15px 22px;
    }

    .panel-heading {
        padding: 3px 15px;
    }

    .panel {
        margin-bottom: 8px;
    }


    .ttip {
        position: absolute;
        pointer-events: none;
        line-height: 1;
        font-weight: bold;
        font-size: x-small;
        padding: 5px;
        background-color: #ddd;
        color: steelblue;
        border-radius: 2px;
    }

    .hdn {
        display: none;
    }
</style>


<div class="row">
    <div class="col-lg-12">
        <br />
    </div>

</div>
<!-- /#page-wrapper -->
<ul class="custom-menu">
    <li data-action="first" id="Add">Salesperson</li>
    <li data-action="second" id="delete">Color</li>
</ul>
<div class="modal fade-scale" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg" style="width:80%">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div id="model1content"></div>
            </div>
        </div>
    </div>
</div>


<div class="col-lg-12" style="margin-bottom:8px;">
    <global-Filter-Bar data="globalFilter" on-filter-change="reload(ctx)" on-reset="resetPageFilter"></global-Filter-Bar>
</div>

<div id="DivDataAnalysis">

    <div class="col-sm-3">
        <div class="dragdrop panel panel-default ChartArea">
            <div class="panel-heading" style="text-align:right;">
                <i class="fa fa-download"></i>
            </div>
            <div class="panel-body">
                <div id="myTiles" class="Div_Tiles">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="dragdrop panel panel-default ChartArea">
            <div class="panel-heading" style="text-align:right;">
                <i class="fa fa-download"></i>
            </div>
            <div class="panel-body">
                <small-Multiple-Bars data="smData" config="globalFilter" on-select-bar="reload(ctx)"></small-Multiple-Bars>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <!-- /.panel -->
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align:right;">
                <i class="fa fa-cog"></i>
                <i class="fa fa-download"></i>

            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <div class="pull-right dropdown">
                        <button class="btn btn-default dropdown-toggle-Column" type="button" data-toggle="dropdown">
                            Column
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu Sales" role="menu">
                            <li role="presentation"><input type="checkbox" checked="checked" class="toggle-vis" data-columnindex="8">Sales Gross</li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><input type="checkbox" checked="checked" class="toggle-vis" data-columnindex="7">FI Gross</li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><input type="checkbox" checked="checked" class="toggle-vis" data-columnindex="6">Unit Sold</li>
                        </ul>
                        <ul class="dropdown-menu service" role="menu">
                            <li role="presentation"><input type="checkbox" checked="checked" class="toggle-vis" data-columnindex="3">Parts Gross</li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><input type="checkbox" checked="checked" class="toggle-vis" data-columnindex="5">EffLaborRate</li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><input type="checkbox" checked="checked" class="toggle-vis" data-columnindex="7">HoursSold</li>
                        </ul>
                    </div>
                    <div class="pull-right dropdown">
                        <button class="btn btn-default dropdown-toggle-Dimensions" type="button" data-toggle="dropdown">
                            Dimensions
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu SalesDimensions" role="menu">
                            <li role="presentation"><input type="checkbox" checked="checked" class="toggle-group" data-group="Make">Make</li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><input type="checkbox" checked="checked" class="toggle-group" data-group="Model">Model</li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><input type="checkbox" class="toggle-group" data-group="SalesManager">SalesManager</li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><input type="checkbox" class="toggle-group" data-group="FIManager">FIManager</li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><input type="checkbox" class="toggle-group" data-group="Year">Year</li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><input type="checkbox" class="toggle-group" data-group="Month">Month</li>
                        </ul>
                        <ul class="dropdown-menu serviceDimensions" role="menu">
                            <li role="presentation"><input type="checkbox" checked="checked" class="toggle-group" data-group="Make">Make</li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><input type="checkbox" checked="checked" class="toggle-group" data-group="Model">Model</li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><input type="checkbox" class="toggle-group" data-group="Technician">Technician</li>
                        </ul>
                    </div>
                    <div style="clear:both;"></div>
                    <div class="col-lg-12">
                        <div class="responsive" id="salesTable"></div>

                        <!-- /.table-responsive -->
                    </div>

                    <!-- /.col-lg-8 (nested) -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        <!-- /.panel -->
    </div>



</div>
<div style="clear:both"></div>
<script id="salesTemplate" type="text/x-jquery-tmpl">
    <table class="table table-bordered table-hover table-striped" id="data-table">
        <thead>
            <tr>
                <th>Make</th>
                <th>Model</th>
                <th>#SalesManager</th>
                <th>#FIManager</th>
                <th>#Year</th>
                <th>#Month</th>
                <th>#Units Sold</th>
                <th>#FI Gross</th>
                <th>#Sales Gross</th>
                @*
                <th>#Avg Sales Gross New</th>
                <th>#Avg Sales Gross Used</th>
                <th>#Avg Whole sale Used</th>
                <th>#Avg FI Gross Used</th>
                <th>#Avg FI Gross New</th>*@
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        @*
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>*@
    </table>

</script>
<script id="serviceTemplate" type="text/x-jquery-tmpl">
    <table class="table table-bordered table-hover table-striped" id="data-table">
        <thead>
            <tr>
                <th>Make</th>
                <th>Model</th>
                <th>#Technician</th>
                <th>#Parts Gross</th>
                <th>#Service Gross</th>
                <th>#Effective Labor Rate</th>
                <th>#Hour Per Ro</th>
                <th>#Hours Sold</th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        @*
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>*@
    </table>

</script>