﻿<div class="row noPrint">
    <div class="col-lg-12">
        <br />
    </div>
</div>
<div class="row noPrint">
    <div class="col-lg-12">
        <div class="dealer-info mb-15"><strong>{{$ctrl.dashbordName}}</strong></div>
    </div>
</div>
<div class="row noPrint">
    <div class="col-lg-12 mb-15">
        <div style="background-color:#f5f5f5;border:1px solid #ddd; padding:5px;border-radius:4px;" class="resp-global-filter">
            <form class="form-inline " style="text-align:right;">
                <div class="form-group">
                    <global-Filter-Bar data="$ctrl.globalFilter" on-filter-change="reload(ctx)" on-reset="resetPageFilter()"></global-Filter-Bar>
                    </div>
                </form>
            </div>
                </div>
        </div>

        <div id="DivDataAnalysis">
            <div class="panel-group" id="container">
                
            </div>
        </div>
        <div style="clear:both"></div>
