﻿<div class="row">
    <div class="col-lg-12">
        <button type="button" class="btn btn-primary mb-5" style="margin-top:9px;" data-ng-click="go('/usertemplate')">Create Template</button>
    </div>
    <div class="col-sm-12">
        <!-- /.panel -->
        <div class="panel panel-default">
            <!--<div class="panel-heading" style="text-align:right;">
                <div class="btn-group">
                    <a class="cursor-pointer" ng-click="downloadFile('table')"><i class="fa fa-download"></i></a>
                </div>
            </div>-->
            <!-- /.panel-heading -->            
            <div class="panel-body animated-container">
                <datatable data="dashboardList" w-Config="dashboardConfig" render-Element="true" on-List-Item-Click="editTemplate(ctx)"></datatable>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        <!-- /.panel -->
    </div>
</div>
