﻿<progress-Bar data="$ctrl.ShowLoader"></progress-Bar>
<div class="row">
    <div class="col-sm-9">
        <breadcrumb items="$ctrl.reportList" ng-show="$ctrl.showItemList" on-List-Item-Click="$ctrl.ReportItemClick(ctx)" ng-show="_showItemList"></breadcrumb>
    </div>
    <div class="col-sm-3">
        <used-Equity-Button-Group data="$ctrl.uefilterList" default-Tab-Filter="uedefaultTabFilter" count-By-Color="$ctrl.CountByColor" class="resp-button-group" ng-show="$ctrl.showElement.usedEquityTable" on-Change="$ctrl.UsedEquityfilterChange(ctx)"></used-Equity-Button-Group>
        <button-Group data="$ctrl.filterList" default-Tab-Filter="$ctrl.defaultTabFilter" class="resp-button-group" on-Change="$ctrl.filterChange(ctx)"></button-Group>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <datatable data="$ctrl.containerData" w-Config="$ctrl.wConfig" render-Element="$ctrl.showElement.table" ng-show="$ctrl.showElement.table" report-List="$ctrl.ReportList" show-Item-List="$ctrl._showItemList" on-List-Item-Click="$ctrl.invokeReport(ctx)"></datatable>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <bar data="$ctrl.containerData" w-Config="$ctrl.wConfig" render-Element="$ctrl.showElement.bar" report-List="$ctrl.reportList" ng-show="$ctrl.showElement.bar" on-List-Item-Click="$ctrl.invokeReport(ctx)"></bar>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">        
        <grouped-Bar data="$ctrl.containerData" w-Config="$ctrl.wConfig" render-Element="$ctrl.showElement.groupBarChart" report-List="$ctrl.reportList" ng-show="$ctrl.showElement.groupBarChart" on-List-Item-Click="$ctrl.invokeReport(ctx)"></grouped-Bar>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <bubble data="$ctrl.containerData" w-Config="$ctrl.wConfig" render-Element="$ctrl.showElement.bubble" ng-show="$ctrl.showElement.bubble"></bubble>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
       <usedcarequity data="$ctrl.containerData" w-Config="$ctrl.wConfig" uedefault-Tab-Filter="uedefaultTabFilter" render-Element="$ctrl.showElement.usedEquityTable" ng-show="$ctrl.showElement.usedEquityTable" report-List="$ctrl.ReportList" show-Item-List="$ctrl._showItemList" on-List-Item-Click="$ctrl.invokeReport(ctx)" on-Filter-Used-Equity-Button-Group="$ctrl.filterRecordsByColor(ctx)" on-Used-Car-Equity-Capture="$ctrl.usedCarCapture(ctx)" ></usedcarequity>
    </div>
</div>
