﻿<style type="text/css">
    ._GAcd {
        background-color: #f2f2f2;
        border-bottom: 1px solid #dcdcdc;
        border-right: 1px solid #dcdcdc;
        color: #333;
        font-size: 13px;
        font-weight: 500;
        padding: 23px 0;
        text-align: center;
        min-height: 110px;
    }

    ._GAEyb ._GAcd {
        padding: 56px 0;
    }

    ._GAb-_GAci-_GAhi {
        position: relative;
        display: -moz-inline-box;
        display: inline-block;
    }

    .selectedTemplate {
        background-color: grey;
        color: white;
    }

    .font-64 {
        font-size: 4em;
    }
</style>

<div class="modal fade-scale in" id="myModal" role="dialog" ng-show="$ctrl.showpopup">
    <div class="modal-dialog modal-lg" style="width:30%; min-width:500px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="popUpCloseClick()" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{$ctrl.title}}</h4>
            </div>
            <div class="modal-body">
                <div id="model1content">
                    <div class="row _GAgTb" style="text-align:center;">
                        <div>
                            <div ng-repeat="val in $ctrl.connectionType" ng-click="setTemplate(val);" style="text-align:center; width:33%; max-width:250px; display:inline-block;" class="mb-15 mr-15 ml-15">

                                <div class="_GAb-_GAci-_GAhi _GAcd col-lg-6" style="width:180px; float :none;" ng-class="(val.typeSelected==true?'selectedTemplate':'')">
                                    {{val.name}}
                                    <div class="text-center"><i class="font-64 {{val.icon}} fa-3"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div>
                        &nbsp;
                    </div>-->
                    <div class="mb-15" style="margin-left:55px;">
                        <div>
                            <div class="DASH_KPI_EDITOR">
                                <div class="_GAgTb">
                                    <div class="fw-bold">Select Connection String</div>
                                    <div>
                                        <select class="form-control" ng-model="connectionSource" style="max-width:382px;">
                                            <option>Connection1</option>
                                            <option>Connection2</option>
                                            <option>Connection3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row _GAgTb">
                        <div style="padding-right:10%" class="text-right">
                            <button class="btn btn-primary" ng-click="loadTemplate()">Save</button>
                            <button class="btn btn-danger" ng-click="popUpCloseClick()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop in" ng-show="$ctrl.showpopup"></div>




