﻿<style type="text/css">
    ._GAjh {
        background-color: #eee;
        background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#e0e0e0),color-stop(1,#fff));
        background-image: -moz-linear-gradient(center bottom,#fff 0%,#e0e0e0 100%);
        border-bottom: 1px solid #aaa;
        border-left: 1px solid #aaa;
        border-top: 1px solid #aaa;
        color: #444;
        cursor: pointer;
        display: inline-block;
        font-size: 13px;
        font-weight: bold;
        overflow: hidden;
        padding-top: 7px;
        padding-bottom: 7px;
        text-align: center;
        text-overflow: ellipsis;
        text-shadow: none;
        text-transform: uppercase;
        white-space: nowrap;
        width: 152px;
        zoom: 1;
        z-index: 50;
    }

    ._GApH {
        background-repeat: no-repeat;
        background-position: 50% 30%;
        height: 31px;
        width: 152px;
    }

    ._GAgTb {
        margin-top: 10px;
        padding-bottom: 2px;
    }

    ._GAps {
        font-size: 13px;
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 425px;
        padding: 5px 15px 15px 15px;
    }

    .br-right {
        border-right: 1px solid #aaa;
    }

    .widgetSelected {
        color: black;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border: 1px solid grey;
        border-radius: 2px 2px;
    }
</style>

<div class="modal fade-scale in" id="myModal" role="dialog" ng-show="$ctrl.showpopup">
    <div class="modal-dialog modal-lg" style="width:52%">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="popUpCloseClick()" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{$ctrl.title}}</h4>
            </div>
            <div class="modal-body">
                <div id="model1content">
                    <div class="row _GAgTb">
                        <div class="col-lg-12">
                            <div class="mb-15">
                                <span class="fw-bold">Widget Title:</span><br />
                                <input type="text" ng-model="$ctrl.widgetName" />
                            </div>
                            <div style="width: 127px; margin-bottom:10px;" class="_GAjh br-right" ng-class="(val.selected==true?'widgetSelected':'')" ng-click="selectWidget(val);" ng-repeat="val in $ctrl.widgetList">
                                <div style="width: 127px" class="_GApH">
                                    <div class="{{val.widgetClass}}"></div>
                                </div>{{val.type}}
                            </div>
                            <div>
                                <div ng-show="$ctrl.selectedElem.type=='bar'" class="mb-15">                                   
                                    <div>
                                        <div class="DASH_KPI_EDITOR">
                                            <div class="_GAgTb">
                                                <div class="fw-bold">Create a bar chart showing:</div>
                                                <div>
                                                    <select>
                                                        <option>Add a Metrics</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="_GAgTb">
                                                <div class="fw-bold">grouped by:</div>
                                                <div>
                                                    <select>
                                                        <option>Add a Metrics</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="_GAgTb">
                                                <div><span class="fw-bold"> Pivot by </span>(optional):</div>
                                                <div>
                                                    <select>
                                                        <option>Add a Metrics</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="DASH_KPI_EDITOR">
                                            <div class="_GAgTb">
                                                <div class="fw-bold">Filter this data</div>
                                                <div>
                                                    <button type="button" class="btn btn-link btn-xs">Add a filter</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div ng-show="$ctrl.selectedElem.type=='table'" class="mb-15">
                                    <div>
                                        <div class="DASH_KPI_EDITOR">
                                            <div class="_GAgTb">
                                                <div class="fw-bold">Show the following report:</div>
                                                <div>
                                                    <select ng-model="$ctrl.selectedTableReport" >
                                                        <option ng-repeat="report in $ctrl.customReportList" value="{{report.id}}">{{report.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="DASH_KPI_EDITOR">
                                            <div class="_GAgTb">
                                                <div class="fw-bold">Filter this data</div>
                                                <div>
                                                    <button type="button" class="btn btn-link btn-xs">Add a filter</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="$ctrl.selectedElem.type=='kpi'" class="mb-15">
                                    <div>
                                        <div class="DASH_KPI_EDITOR">
                                            <div class="_GAgTb">
                                                <div class="fw-bold">Show the following metric:</div>
                                                <div>
                                                    <select>
                                                        <option>Add a Metrics</option>
                                                        <option>FI PRU</option>
                                                        <option>Sales PRU</option>
                                                        <option>Inventory Days Supply (New)</option>
                                                        <option>Inventory Days Supply (Used)</option>
                                                        <option>Service Total Hours (RO)</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="DASH_KPI_EDITOR">
                                            <div class="_GAgTb">
                                                <div class="fw-bold">Filter this data</div>
                                                <div>
                                                  <button type="button" class="btn btn-link btn-xs">Add a filter</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="$ctrl.selectedElem.type=='timeseries'" class="mb-15">
                                    <div>
                                        <div class="DASH_KPI_EDITOR">
                                            <div class="_GAgTb">
                                                <div class="fw-bold">Graph the following metric over time:</div>
                                                <div>
                                                    <select>
                                                        <option>Add a Metrics</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="_GAgTb">
                                                <div class="fw-bold">Compare with (optional):</div>
                                                <div>
                                                    <select>
                                                        <option>Add a Metrics</option>
                                                    </select>
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="DASH_KPI_EDITOR">
                                            <div class="_GAgTb">
                                                <div class="fw-bold">Filter this data</div>
                                                <div>
                                                    <button type="button" class="btn btn-link btn-xs">Add a filter</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="$ctrl.selectedElem.type=='gauge'" class="mb-15">
                                    <div>
                                        <div class="DASH_KPI_EDITOR">
                                            <div class="_GAgTb">
                                                <div class="fw-bold">Show multiple:</div>
                                                <div>
                                                    <input ng-model="$ctrl.selectedElem.multiple" type="checkbox" />
                                                </div>
                                            </div>
                                            <div class="_GAgTb"  >
                                                <div class="fw-bold">Show the following metric:</div>
                                                <div ng-repeat="v in  ($ctrl.gaugesList) ">
                                                    <div></div>
                                                    <select ng-model="$ctrl.widgetName">
                                                        <option value="Widget" >{{ (!$ctrl.selectedElem.multiple) ? "Add a Metrics" : "Add metrics for gauge" + v }}</option>
                                                        <option value="Sales PRU" >Sales PRU (New)</option>
                                                        <option>FI PRU (New)</option>
                                                        <option>Inventory Age (New)</option>
                                                        <option>Inventory Age (Used)</option>
                                                        <option>Inventory Days Supply (New)</option>
                                                        <option>Inventory Days Supply (Used)</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div ng-show="$ctrl.selectedElem.type=='gauge' && $ctrl.selectedElem.multiple == true && $ctrl.gaugesList.length < 6 ">
                                                <button type="button" class="btn btn-link btn-xs" ng-click="$ctrl.addItemToGaugeList();">Add a new gauge</button>
                                            </div>
                                        </div>
                                        <div class="DASH_KPI_EDITOR">
                                            <div class="_GAgTb">
                                                <div class="fw-bold">Filter this data</div>
                                                <div>
                                                    <button type="button" class="btn btn-link btn-xs" >Add a filter</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="$ctrl.selectedElem.type=='buble'" class="mb-15">
                                    <div>
                                        <div class="DASH_KPI_EDITOR">
                                            <div class="_GAgTb">
                                                <div class="fw-bold">Show the following metric:</div>
                                                <div>
                                                    <select>
                                                        <option>Add a Metrics</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="DASH_KPI_EDITOR">
                                            <div class="_GAgTb">
                                                <div class="fw-bold">Filter this data</div>
                                                <div>
                                                    <button type="button" class="btn btn-link btn-xs">Add a filter</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-primary" ng-click="addWidgetToTemplate()">Submit</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop in" ng-show="$ctrl.showpopup"></div>