﻿
<div class="row">
    <div class="col-lg-12">
        <br />
    </div>

</div>

<div class="row">
    <div class="col-lg-12" style="margin-bottom:8px;">
        <div style="background-color:#f5f5f5;border:1px solid #ddd; padding:5px;border-radius:4px;">
            <form class="form-inline " style="text-align:right;">
                <div class="form-group">
                    <input type="daterange" ng-model="dates" format="MMM/YYYY" ranges="ranges" />

                    <div class="btn-group" role="group">
                        <input type="button" id="BtnBoth" class="btn btn-xs" ng-click="filterDataForType('both')" ng-class='(filterResultForType=="both")?"btn-primary":"btndisabled"' value="Both" />
                        <input type="button" id="BtnNew" class="btn btn-xs" ng-click="filterDataForType('new')" ng-class='(filterResultForType=="new")?"btn-primary":"btndisabled"' value="New" />
                        <input type="button" id="BtnUsed" class="btn btn-xs" ng-click="filterDataForType('used')" ng-class='(filterResultForType=="used")?"btn-primary":"btndisabled"' value="Used" />
                    </div>

                    <input type="button" id="btnReset" class="btn btn-xs btn-primary" ng-click="ResetChart()" value="Reset" />
                </div>
            </form>
        </div>
    </div>
</div>

<div id="DivDataAnalysis">
    <div class="row">
        <div class="col-sm-12">
            <div class="dragdrop panel panel-default ChartArea">
                <div class="panel-heading" style="text-align:right;">
                    &nbsp;
                </div>
                <div class="panel-body animated-container">
                    <progress-Bar data="ShowLoader"></progress-Bar>
                    <div class="dropdown">
                        <button id="forecast-vehicle-make-button" class="btn btn-default dropdown-toggle" style="width:160px;" type="button" data-toggle="dropdown">
                            {{selectedMake.MakeName}}
                            <span class="caret"></span>
                        </button>
                        <ul id="forecast-vehicle-make-list" class="dropdown-menu">
                            <li><a ng-click="GetAllMakeModels()">All Makes</a></li>
                            <li><a ng-click="GetListedModels(val)" ng-repeat="val in listOfMakes">{{val.MakeName}}</a></li>
                        </ul>
                    </div>
                    <div>
                        <br />
                        <ul class="nav nav-tabs">
                            <li ng-click="invokeSelectedModel({ MakeId: -10, ModelId: -10, ModelName: 'All Models' })" data-toggle="tab" ng-class="(selectedModel.ModelId==-10) ? 'active' : ''"><a>All Models</a></li>
                            <li ng-click="invokeSelectedModel(ml)" ng-class="(selectedModel.ModelId==ml.MakeId) ? 'active' : ''" data-toggle="tab" ng-repeat="ml in modelList"><a>{{ml.ModelName}}</a></li>
                        </ul>
                    </div>
                    <div class="container-fluid">
                        <div class="row" style="margin-top:5px;">
                            <div class="col-md-12">
                                <div>
                                    <h4 style="color:#787878;">{{selectedMake.MakeName}} {{selectedModel.ModelName}} (current fcst = {{avgForecast}} deals/month)</h4>
                                    <h6 style="color:#787878;">Select metric to plot below:</h6>
                                    <div>
                                        <button id="forecast-metric-button" class="btn btn-default dropdown-toggle" style="width:160px;" type="button" data-toggle="dropdown">
                                            {{currentMetric.metricName}}
                                            <span class="caret"></span>
                                        </button>
                                        <ul id="forecast-metric-list" class="dropdown-menu">
                                            <li><a ng-click="SetNewMetric(val)" ng-repeat="val in metricList">{{val.metricName}}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:5px;">
                            <div class="col-md-12">
                                <timeseries data1="AcDataset" data2="FrDataset" chart-Object="chartObject"></timeseries>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid" style="margin-top:3px;">
                        <div class="row">
                            <div class="col-lg-3">
                                <div>
                                    <div><h5 style="color:#787878;">% Financed Deals</h5></div>
                                    <div class="chartdivborder" style="padding:0px 10px">
                                        <rzslider rz-slider-model="sliderFinance.value"
                                                  rz-slider-options="sliderFinance.options"></rzslider>
                                        <div style="clear:both;">&nbsp;</div>
                                    </div>
                                </div>
                                <div>
                                    <div><h5 style="color:#787878;">% GAP Coverage</h5></div>
                                    <div class="chartdivborder" style="padding:0px 10px">
                                        <rzslider rz-slider-model="sliderGap.value"
                                                  rz-slider-options="sliderGap.options"></rzslider>
                                        <div style="clear:both;">&nbsp;</div>
                                    </div>
                                </div>
                                <div>
                                    <div><h5 style="color:#787878;">% Service Plans</h5></div>
                                    <div class="chartdivborder" style="padding:0px 10px">
                                        <rzslider rz-slider-model="sliderService.value"
                                                  rz-slider-options="sliderService.options"></rzslider>
                                        <div style="clear:both;">&nbsp;</div>
                                    </div>
                                </div>
                                <div>
                                    <div><h5 style="color:#787878;">% Maintenance Plans</h5></div>
                                    <div class="chartdivborder" style="padding:0px 10px">
                                        <rzslider rz-slider-model="sliderMaintenance.value"
                                                  rz-slider-options="sliderMaintenance.options"></rzslider>
                                        <div style="clear:both;">&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Month</th>
                                            <th>Metric</th>
                                            <th>Orignal Forecast Pct</th>
                                            <th>Revised Forecast Pct</th>
                                            <th>Diff</th>
                                        </tr>                                       
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="row in tableData">
                                            <td>{{row.Month}}</td>
                                            <td>{{row.Metric}}</td>
                                            <td>{{row.Orignal}}</td>
                                            <td>{{row.Revised}}</td>
                                            <td>{{row.diff}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 =

