﻿<link rel="stylesheet" href="../../../Content/app/forecast.print.css" type="text/css" />

<div class="row">
    <div class="col-lg-12">
        <br />
    </div>

</div>

<div class="row">
    <div class="col-lg-12 resp-vsforecast-mt mb-15">
        <div style="background-color:#f5f5f5;border:1px solid #ddd; padding:5px;border-radius:4px;" class="resp-vsforecast-btn-mt">
            <form class="form-inline ta-right resp-ta-left">
                <div class="form-group resp-vsforecast-ht">
                    <input  class="resp-vsforecast" type="daterange" ng-model="dates" format="MMM/YYYY" ranges="ranges" />

                    <div class="btn-group resp-vsforecast resp-vsforecast-btn-mt" role="group">
                        <input type="button" id="BtnBoth" class="btn btn-xs" ng-click="filterDataForType('both')" ng-class='(filterResultForType=="both")?"btn-primary":"btndisabled"' value="Both" />
                        <input type="button" id="BtnNew" class="btn btn-xs" ng-click="filterDataForType('new')" ng-class='(filterResultForType=="new")?"btn-primary":"btndisabled"' value="New" />
                        <input type="button" id="BtnUsed" class="btn btn-xs" ng-click="filterDataForType('used')" ng-class='(filterResultForType=="used")?"btn-primary":"btndisabled"' value="Used" />
                    </div>

                    <input type="button" id="btnReset" class="btn btn-xs btn-primary resp-reset-ml" ng-click="ResetChart()" value="Reset" />
                </div>
            </form>
        </div>
    </div>
</div>

<div id="DivDataAnalysis">
    <div class="row">
        <div class="col-sm-12">
            <div class="dragdrop panel panel-default ChartArea">
                <div class="panel-heading resp-fs-18" style="text-align:right;">
                    <i class="fa fa-print cursor-pointer hovicon effect-1 sub-a" title="Print" ng-click="print()"></i>
                    <i class="fa fa-download cursor-pointer hovicon effect-1 sub-a" title="Download" ng-click="downloadFile()"></i>
                </div>
                <div class="panel-body animated-container">
                    <progress-Bar data="ShowLoader"></progress-Bar>
                    <div class="dropdown">
                        <button id="forecast-vehicle-make-button" class="btn btn-default dropdown-toggle" style="width:160px;" type="button" data-toggle="dropdown">
                            {{selectedMake.MakeName}}
                            <span class="caret"></span>
                        </button>
                        <ul id="forecast-vehicle-make-list" class="dropdown-menu">
                            <li><a class="cursor-pointer" ng-click="GetListedModels({ MakeId: -10, MakeName: 'ALL Makes' })">All Makes</a></li>
                            <li><a class="cursor-pointer" ng-click="GetListedModels(val)" ng-repeat="val in listOfMakes">{{val.MakeName}}</a></li>
                        </ul>
                    </div>
                    <div>
                        <br />
                        <ul class="nav nav-tabs">
                            <li ng-click="invokeSelectedModel({ MakeId: -10, ModelId: -10, ModelName: 'All Models' })" data-toggle="tab" ng-class="(selectedModel.ModelId==-10) ? 'active' : 'cursor-pointer'"><a>All Models</a></li>
                            <li ng-click="invokeSelectedModel(ml)" ng-class="(selectedModel.ModelId==ml.MakeId) ? 'active' : 'cursor-pointer'" data-toggle="tab" ng-repeat="ml in modelList"><a>{{ml.ModelName}}</a></li>
                        </ul>
                    </div>
                    <div class="container-fluid">                        
                        <div class="btn-group resp-vsforecast resp-vsforecast-btn-mt pull-right" style="font-size:13px;margin-top:-25px;color:#787878;" role="group">
                            <input type="button" id="BtnAnnually" class="btn btn-xs" ng-click="ChangeKpiPeriod('A')" ng-class='(kpiPeriod=="A")?"btn-primary":"btn-link"' value="Annually" />
                            <input type="button" id="BtnMonthly" class="btn btn-xs" ng-click="ChangeKpiPeriod('M')" ng-class='(kpiPeriod=="M")?"btn-primary":"btn-link"' value="Monthly" />                            
                        </div>
                        <div class="row">
                            <div class='lineSeprator resp-box-full col-md-2 col-sm-6 col-xs-6' style="text-align:center; margin-top:4px;">
                                <kpi data="kpiVehicleProfit"></kpi>
                            </div>
                            <div class='lineSeprator resp-box-full col-md-2 col-sm-6 col-xs-6 hide-seperator-print' style="text-align:center; margin-top:4px;">
                                <kpi data="kpiFiProfit"></kpi>
                            </div>
                            <div class='lineSeprator resp-box-full col-md-2 col-sm-6 col-xs-6' style="text-align:center; margin-top:4px;">
                                <kpi data="kpicarryingCost"></kpi>
                            </div>
                            <div class='lineSeprator resp-box-full col-md-2 col-sm-6 col-xs-6 hide-seperator-print' style="text-align:center; margin-top:4px;">
                                <kpi data="kpiOpportunityCost"></kpi>
                            </div>
                            <div class='lineSeprator resp-box-full col-md-2 col-sm-6 col-xs-6' style="text-align:center; margin-top:4px;">
                                <kpi data="kpiTotalInefficiencyCost"></kpi>
                            </div>
                            <div class="col-md-2 resp-box-full col-sm-6 col-xs-6" style="text-align:center; margin-top:4px;">
                                <kpi data="kpiCurrentInventory"></kpi>
                            </div>
                        </div>
                        <div class="row" style="margin-top:5px;">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h4 style="color:#787878;">Current Inventory</h4>
                                        <h6>&nbsp;</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6 chartdivborder resp-box-height-forecast resp-box-full" style="height: 120px; text-align: center; display:table; padding :3px;" ng-repeat="val in currnetInventoryLegends">
                                        <div style="text-align:center;display: table-cell;  vertical-align: middle;">
                                            <h4 style="color:#787878;">{{val.LegendName}}</h4>
                                            <h2 style="display:block; margin-top:0px;margin-bottom:2px;font-weight:700; font-size:70px; " class="{{profitLossColor}}">{{val.currentValue}}</h2>
                                            <h3 style="margin-top:0px;margin-bottom:8px;font-weight:600;display:inline-block">{{val.recommendedValue}}</h3> <span style="font-size:13px;margin-top:-12px;color:#787878;display:inline-block">(Rec)</span>
                                            <!--<div><i class="{{val.profitLossType}}" aria-hidden="true"></i></div>-->
                                        </div>
                                    </div> <div class="col-xs-6 chartdivborder resp-box-height-forecast resp-box-full" style="height: 110px; text-align: center; display:table; padding :3px;" ng-repeat="val in currnetInventoryLegends">
                                        <div style="text-align:center;display: table-cell;  vertical-align: middle;">
                                            <h4 style="color:#787878;" title="{{val.title}}">{{val.diffLegendName}}</h4>
                                            <h3 style="margin-top:0px;margin-bottom:8px;font-weight:600;display:inline-block" class="{{val.profitLossColor}}">{{val.diffValue}}</h3>
                                            <div style="display:inline-block"><i class="{{val.profitLossType}}  {{val.profitLossColor}}" aria-hidden="true"></i></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-8">
                                <div>
                                    <h4 style="color:#787878;">Monthly Inventory and Forecasted Vehicles Sales</h4>
                                    <h6 style="color:#787878;">Avg Forecast Sales = {{tableDataChange}} Vehicles per Month </h6>
                                </div>
                                <timeseries data1="AcDataset" data2="FrDataset" data3="invDataset" chart-Object="chartObject" legends="legends"></timeseries>
                                <!--<div id="forecast-chart" class="chartdivborder" style="min-height:270px;">
                                </div>-->
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid" style="margin-top:3px;">
                        <div class="row">
                            <div class="col-lg-4">
                                <div>
                                    <div><h5 style="color:#787878;">Adjust Inventory Interest Rate</h5></div>
                                    <div class="chartdivborder" style="padding:0px 10px">
                                        <rzslider rz-slider-model="sliderInterest.value"
                                                  rz-slider-options="sliderInterest.options"></rzslider>
                                        <div style="clear:both;">&nbsp;</div>
                                    </div>
                                </div>
                                <div>
                                    <div><h5 style="color:#787878;">Adjust Monthly Vehicle Sales Forecast</h5></div>
                                    <div class="chartdivborder" style="padding:0px 10px">
                                        <rzslider rz-slider-model="slider.value"
                                                  rz-slider-options="slider.options"></rzslider>
                                        <div style="clear:both;">&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Month</th>
                                            <th>Original Forecast</th>
                                            <th>Revised Forecast</th>
                                            <th>Diff</th>
                                        </tr>
                                        <tr>
                                            <th>Avg/Month</th>
                                            <th>{{TotalOriginal}}</th>
                                            <th>{{TotalUserEdit}}</th>
                                            <th>{{TotalDiff}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="row in FrDataset">
                                            <td>{{row.TableDate}}</td>
                                            <td>{{row.actualForecastedValue}}</td>
                                            <td>{{row.userDefinedValue}}</td>
                                            <td>{{row.diff}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>