﻿<style>
    .BoldClass {
        font-weight: 700;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <br />
    </div>

</div>

<div class="row">
    <div class="col-lg-12 resp-vsforecast-mt mb-15">
        <div style="background-color:#f5f5f5;border:1px solid #ddd; padding:5px;border-radius:4px;" class="resp-vsforecast-btn-mt">
            <form class="form-inline ta-right resp-ta-left">
                <div class="form-group resp-vsforecast-ht">
                    <input class="resp-vsforecast" type="daterange" ng-model="dates" format="MMM/YYYY" ranges="ranges" />

                    <div class="btn-group resp-vsforecast resp-vsforecast-btn-mt" role="group">
                        <input type="button" id="BtnBoth" class="btn btn-xs" ng-click="filterDataForType('C')" ng-class='(filterResultForType=="C")?"btn-primary":"btndisabled"' value="CP" />
                        <input type="button" id="BtnNew" class="btn btn-xs" ng-click="filterDataForType('I')" ng-class='(filterResultForType=="I")?"btn-primary":"btndisabled"' value="INT" />
                        <input type="button" id="BtnUsed" class="btn btn-xs" ng-click="filterDataForType('W')" ng-class='(filterResultForType=="W")?"btn-primary":"btndisabled"' value="WARR" />
                        <input type="button" id="BtnUsed" class="btn btn-xs" ng-click="filterDataForType('A')" ng-class='(filterResultForType=="A")?"btn-primary":"btndisabled"' value="ALL" />
                    </div>

                    <input type="button" id="btnReset" class="btn btn-xs btn-primary resp-reset-ml" ng-click="ResetChart()" value="Reset" />
                </div>
            </form>
        </div>
    </div>
</div>

<div id="DivDataAnalysis">
    <div class="row">
        <div class="col-sm-12">
            <div class="dragdrop panel panel-default ChartArea">
                <div class="panel-heading" style="text-align:right;">
                    &nbsp;
                </div>
                <div class="panel-body animated-container">
                    <progress-Bar data="ShowLoader"></progress-Bar>
                    <div class="container-fluid">
                        <div class="row">
                            <div class='lineSeprator resp-box-full col-md-2 col-sm-4 col-xs-6' style="text-align:center; margin-top:4px;">
                                <kpi data="kpiSvcLaborSales"></kpi>
                            </div>
                            <div class='lineSeprator resp-box-full col-md-2 col-sm-4 col-xs-6' style="text-align:center; margin-top:4px;">
                                <kpi data="kpiSvcLaborGross"></kpi>
                            </div>
                            <div class='lineSeprator resp-box-full col-md-2 col-sm-4 col-xs-6' style="text-align:center; margin-top:4px;">
                                <kpi data="kpiSvcUtilization"></kpi>
                            </div>
                            <div class='lineSeprator resp-box-full col-md-2 col-sm-4 col-xs-6' style="text-align:center; margin-top:4px;">
                                <kpi data="kpiLostSvcLaborGross"></kpi>
                            </div>
                            <div class='lineSeprator resp-box-full col-md-2 col-sm-4 col-xs-6' style="text-align:center; margin-top:4px;">
                                <kpi data="kpiOppSvcLaborGross"></kpi>
                            </div>
                            <div class='resp-box-full col-md-2 col-sm-4 col-xs-6' style="text-align:center; margin-top:4px;">
                                <kpi data="kpiSvcUtilizationCost"></kpi>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h4 style="color:#787878;">Open Hours</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1 col-sm-4 col-xs-6">
                                <div class="input-group">
                                    <label for="txtSun">Sun</label>
                                    <input type="number" name="txtSun" ng-change="UpdateHours()" ng-model="openHoursFor.sunday" min="0" max="24" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-1 col-sm-4 col-xs-6">
                                <div class="input-group">
                                    <label for="txtMon">Mon</label>
                                    <input type="number" name="txtMon" ng-change="UpdateHours()" ng-model="openHoursFor.monday" min="0" max="24" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-1 col-sm-4 col-xs-6">
                                <div class="input-group">
                                    <label for="txtTue">Tue</label>
                                    <input type="number" name="txtTue" ng-change="UpdateHours()" ng-model="openHoursFor.tuesday" min="0" max="24" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-1 col-sm-4 col-xs-6">
                                <div class="input-group">
                                    <label for="txtWed">Wed</label>
                                    <input type="number" name="txtWed" ng-change="UpdateHours()" ng-model="openHoursFor.wednesday" min="0" max="24" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-1 col-sm-4 col-xs-6">
                                <div class="input-group">
                                    <label for="txtThu">Thu</label>
                                    <input type="number" name="txtThu" ng-change="UpdateHours()" ng-model="openHoursFor.thursday" min="0" max="24" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-1 col-sm-4 col-xs-6">
                                <div class="input-group">
                                    <label for="txtFri">Fri</label>
                                    <input type="number" name="txtFri" ng-change="UpdateHours()" ng-model="openHoursFor.friday" min="0" max="24" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-1 col-sm-4 col-xs-6">
                                <div class="input-group">
                                    <label for="txtSat">Sat</label>
                                    <input type="number" name="txtSat" ng-change="UpdateHours()" ng-model="openHoursFor.saturday" min="0" max="24" class="form-control" />
                                </div>
                            </div>

                        </div>
                        <div class="row hide" style="margin-top:5px;">
                            <div class="col-lg-2">
                                <div class="input-group">
                                    <label for="txtHrSold">Hour Sold</label>
                                    <input type="text" name="txtHrSold" ng-model="hoursSold" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="input-group">
                                    <label for="txtDollSold">Dollar Sold</label>
                                    <input type="text" name="txtDollSold" ng-model="dollarSold" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="input-group">
                                    <label for="txtHrAvailable">Hour Available</label>
                                    <input type="text" name="txtHrAvailable" ng-model="hoursAvailable" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="input-group">
                                    <label for="txtDollAvailable">Dollar Available</label>
                                    <input type="text" name="txtDollAvailable" ng-model="dollarAvailable" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="input-group">
                                    <label for="txtHrVariance">Hours Variance</label>
                                    <input type="text" name="txtHrVariance" ng-model="hoursVariance" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="input-group">
                                    <label for="txtDollVariance">Dollars Variance</label>
                                    <input type="text" name="txtDollVariance" ng-model="dollarVariance" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:5px;">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h4 style="color:#787878;">Service Metrics</h4>
                                        <h6>&nbsp;</h6>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:11px;">
                                    <div class="col-xs-6 chartdivborder resp-box-height-forecast resp-box-full" style="height: 130px; text-align: center; display:table; padding :3px;">
                                        <div style="text-align:center;display: table-cell;  vertical-align: middle;">
                                            <h4 style="color:#787878;">Hours Sold/Month</h4>
                                            <h2 style="display:block; margin-top:0px;margin-bottom:2px;font-weight:700; font-size:40px; " class="{{profitLossColor}}">{{numberFormatter(hoursSold)}}</h2>
                                            <h3 style="margin-top:10px;margin-bottom:8px;font-weight:600;display:inline-block">{{filterResultForType == 'A' ? numberFormatter(hoursAvailable):'N/A'}}</h3>
                                            <span style="font-size:13px;margin-top:-12px;color:#787878;display:inline-block">(Available)</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 chartdivborder resp-box-height-forecast resp-box-full" style="height: 130px; text-align: center; display:table; padding :3px;">
                                        <div style="text-align:center;display: table-cell;  vertical-align: middle;">
                                            <h4 style="color:#787878;">Dollars Sold/Month</h4>
                                            <h2 style="display:block; margin-top:0px;margin-bottom:2px;font-weight:700; font-size:40px; " class="{{profitLossColor}}">{{moneyFormatter(dollarSold)}}</h2>
                                            <h3 style="margin-top:10px;margin-bottom:8px;font-weight:600;display:inline-block">{{filterResultForType == 'A' ? moneyFormatter(dollarAvailable):'N/A'}}</h3>
                                            <span style="font-size:13px;margin-top:-12px;color:#787878;display:inline-block">(Available)</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 chartdivborder resp-box-height-forecast resp-box-full" style="height: 120px; text-align: center; display:table; padding :3px;">
                                        <div style="text-align:center;display: table-cell;  vertical-align: middle;">
                                            <h4 style="color:#787878;">Hours Variance</h4>
                                            <h3 style="margin-top:0px;margin-bottom:8px;font-weight:600;display:inline-block" class="{{filterResultForType == 'A' ? hoursVarianceColor:''}}">{{filterResultForType == 'A' ? numberFormatter(hoursVariance):'N/A'}}</h3>
                                            <div style="display:inline-block"><i class="{{1}}  {{hoursVarianceColor}} {{hoursVarianceIndicator}}" aria-hidden="true"></i></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 chartdivborder resp-box-height-forecast resp-box-full" style="height: 120px; text-align: center; display:table; padding :3px;">
                                        <div style="text-align:center;display: table-cell;  vertical-align: middle;">
                                            <h4 style="color:#787878;">Dollars Variance</h4>
                                            <h3 style="margin-top:0px;margin-bottom:8px;font-weight:600;display:inline-block" class="{{filterResultForType == 'A' ? dollarVarianceColor:''}}">{{filterResultForType == 'A' ? moneyFormatter(dollarVariance):'N/A'}}</h3>
                                            <div style="display:inline-block"><i class="{{val.profitLossType}}  {{dollarVarianceColor}} {{dollarVarianceIndicator}}" aria-hidden="true"></i></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <!-- <h4 style="color:#787878;">{ {selectedMake.MakeName}} { {selectedModel.ModelName}} (current fcst = { {avgForecast}} deals/month)--></h4>
                                        <h4 style="color:#787878;">Metric to plot</h4>
                                        <div>
                                            <button id="forecast-metric-button" class="btn btn-default dropdown-toggle" style="width:160px" type="button" data-toggle="dropdown">
                                                {{currentMetric.metricName}}
                                                <span class="caret"></span>
                                            </button>
                                            <ul id="forecast-metric-list" class="dropdown-menu">
                                                <li><a ng-click="SetNewMetric(val)" ng-repeat="val in metricList">{{val.metricName}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <timeseries data1="AcDataset" data2="FrDataset" chart-Object="chartObject" legends="legends"></timeseries>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid" style="margin-top:3px;">
                        <div class="row">
                            <div class="col-lg-4">
                                <div><h5 style="color:#787878;"># of Repair Orders</h5></div>
                                <div class="chartdivborder" style="padding:0px 10px">
                                    <rzslider rz-slider-model="sliderNoOfRepairOrder.value"
                                              rz-slider-options="sliderNoOfRepairOrder.options"></rzslider>
                                    <div style="clear:both;">&nbsp;</div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div><h5 style="color:#787878;">Hours per Repair Order</h5></div>
                                <div class="chartdivborder" style="padding:0px 10px">
                                    <rzslider rz-slider-model="sliderHoursPerRepairOrder.value"
                                              rz-slider-options="sliderHoursPerRepairOrder.options"></rzslider>
                                    <div style="clear:both;">&nbsp;</div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div><h5 style="color:#787878;">Effective Labor Rate</h5></div>
                                <div class="chartdivborder" style="padding:0px 10px">
                                    <rzslider rz-slider-model="sliderEffectiveLabourRate.value"
                                              rz-slider-options="sliderEffectiveLabourRate.options"></rzslider>
                                    <div style="clear:both;">&nbsp;</div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div><h5 style="color:#787878;"># of Service Techs</h5></div>
                                <div class="chartdivborder" style="padding:0px 10px">
                                    <rzslider rz-slider-model="sliderSvcTechs.value"
                                              rz-slider-options="sliderSvcTechs.options"></rzslider>
                                    <div style="clear:both;">&nbsp;</div>
                                </div>
                            </div>
                            <div class="col-lg-2 ">
                                <div><h5 style="color:#787878;">Svc Tech Efficiency</h5></div>
                                <div class="chartdivborder" style="padding:0px 10px">
                                    <rzslider rz-slider-model="sliderSvcTechEfficiency.value"
                                              rz-slider-options="sliderSvcTechEfficiency.options"></rzslider>
                                    <div style="clear:both;">&nbsp;</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>