﻿.fade-scale {
    transform: scale(0);
	opacity: 0;
	-webkit-transition: all .25s linear;
	-o-transition: all .25s linear;
	transition: all .25s linear;
}
.fade-scale.in {
    opacity: 1;
	transform: scale(1);
}
label {
    display: inline-flex !important;
}
.panel-heading-custom{
    height : 30px;
    padding-left : 15px;
    padding-top :  5px;
    padding-bottom:5px;
}
body {
    padding-top : 3em;
}
.filterDemo{
    display : none;
}

.banner{
   height:55px;
   content : url('images/dms-logo-resized.gif');
}
@media only screen 
  and (min-device-width: 490px) 
  and (max-device-width: 4900px) { 
    .top-dropdown-menu {
        display: block;
    }
    .demo{
        display: block !important;
    }
}
@media only screen 
  and (min-device-width: 0px) 
  and (max-device-width: 490px) {
    .panel-heading .form-group {
    display:flex!important;
    z-index:99999;
    }

    .demo {
        display: none;
    }
    .filterDemo{
        display : inline-block;
    }
}
@media (min-width: 768px) {
    .form-inline .form-control {
    display: block;
}
}
@media (max-width: 768px) {
    body{
        padding-top: 6.5em;
    }
    .dataTables_filter {
        width: 100%;
        float: left !important;
    }
}

.bullet {
    font: 10px sans-serif;
}

.bullet .marker {
    stroke: #000;
    stroke-width: 2px;
}

.bullet .tick line {
    stroke: #666;
    stroke-width: .5px;
}

/*.bullet .range.s0 {
    fill: #eee;
}

.bullet .range.s1 {
    fill: #ddd;
}

.bullet .range.s2 {
    fill: #ccc;
}

.bullet .measure.s0 {
    fill: lightsteelblue;
}

.bullet .measure.s001 {
    fill: red;
}

.bullet .measure.s1 {
    fill: steelblue;
}*/

.bullet .title {
    font-size: 12px;
    font-weight: bold;
}

.bullet .subtitle {
    fill: #999;
}

.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
}

.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    margin-left: -42px;
}

.custom-menu li:hover {
    background-color: #DEF;
}
.dataTables_filter {
    width: 50%;
    float: right;
}
.pagination .active a {
    z-index: initial;
}
.vehicleSales, .glyphicon-download{
    cursor: pointer;
}
td.vehicleSales {
    text-decoration: underline;
    color:#428bca
}
.dataTables_paginate ul{
    margin:auto;
    float:right;
}
.form-control{
    width:100%;
}
.panel-heading .form-group{
    display:inline-block;
}
.panel-heading{
    padding: 10px 15px 22px;
}
.charts{
    margin-top:-10px;
}
.linechart{
    height:250px
}
.center {
    margin:auto;
    width:100%;
    padding: 10px;
    text-align: center;
    color: #777;
}
.dropdown-menu>li>input{
    margin: 5px 5px 5px 15px;
}

    .customControl{
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

    }

    .clearSpace {
        clear: both;
    }

    .ChartArea{
        min-height:380px;
    }
     .dragdrop-active {
    z-index:10000;
    }

     .form-group span.glyphicon-calendar{
       margin-left:-23px;
   }