﻿<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <meta name="author" content="">

    <title>Dealer Wizard - Dashboard</title>

    <!-- Bootstrap Core CSS -->
    @Styles.Render("~/Content/bootstrap.min.css")

    <!-- MetisMenu CSS -->
    @Styles.Render("~/Content/metisMenu/metisMenu.min.css")

    <!-- Timeline CSS -->
    @Styles.Render("~/Content/timeline.css")

    <!-- Custom CSS -->
    @Styles.Render("~/Content/sb-admin-2.css")

    <!-- Morris Charts CSS -->
    @Styles.Render("~/Content/morrisjs/morris.css")

    <!-- DataTable CSS -->
    @Styles.Render("~/Content/responsive.datatables.min.css")

    <!-- Custom Fonts -->
    @Styles.Render("~/font-awesome/font-awesome.min.css")

    <!--Custom CSS-->
    @Styles.Render("~/Content/dashboard.css")
    @Styles.Render("~/Content/JqueryUI/JqueryUI.css")
    @Styles.Render("~/Content/JqueryUI/JQueryUITheme.css")
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="banner" />
                @*<a class="navbar-brand" href="/">Dealer Wizard</a>*@
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
               
              
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> Dealer Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-table fa-fw"></i> Dealership Analysis</a>
                        </li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
            @RenderBody()
        </div>
    </div>


    <script language="javascript">
        var dw = window.dw || {};
        dw.setting = dw.setting || {};
        dw.setting.baseUrl = '@Url.AppServiceUrl()';
    </script>
    <!-- /#wrapper -->
    @Scripts.Render("~/Scripts/thirdparty/jquery-3.1.1.min.js")
    @Scripts.Render("~/Scripts/thirdparty/jquery-ui.min.js")
    @Scripts.Render("~/Scripts/thirdparty/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/thirdparty/JQueryTouchUI-min.js")
    @Scripts.Render("~/Scripts/thirdparty/bootstrap.min.js")
    @Scripts.Render("~/Scripts/thirdparty/zingchart.min.js")
    @Scripts.Render("~/Scripts/thirdparty/download.csv.js")

    @Scripts.Render("~/Scripts/thirdparty/JQuery.tmpl.js") 
    @Scripts.Render("~/Scripts/thirdparty/dataTables.min.js")
    @Scripts.Render("~/Scripts/thirdparty/dataTables.bootstrap.min.js")
    @Scripts.Render("~/Scripts/thirdparty/dataTables.responsive.min.js")
    @* Uncomment below Code for drag drop feature *@
    @*@Scripts.Render("~/Scripts/drag-drop.js")*@

    <!-- Metis Menu Plugin JavaScript -->
    @Scripts.Render("~/Scripts/thirdparty/metisMenu.min.js")
    <!-- Custom Theme JavaScript -->
    @Scripts.Render("~/Scripts/app/sb-admin-2.js")
    <!-- Horizontal Bar/Bullet Mixed chart -->
    @Scripts.Render("~/Scripts/widgets/bullet.js")
    @RenderSection("scripts", required: false)
</body>
</html>
