﻿<div class="center">
    <progress-Bar data="ShowLoader"></progress-Bar>
    <!--<gauge data="d" w-Config="d.wConfig" on-kpi-select="ReportChange(ctx)" ng-repeat="d in $ctrl.ModifyData track by $index"></gauge>-->
    <gauge value="d.ActualValue" 
           key="d.key" 
           text="d.title" 
           text-Title="d.title" 
           min-Range="d.RangeMin" 
           max-Range="d.RangeMax" 
           reverse-Plot="d.ReverseOrder" 
           data="d" 
           on-kpi-select="ReportChange(ctx)" 
           ng-repeat="d in $ctrl.data track by $index">
        <gauge-formatter format="d.format" ></gauge-formatter>
    </gauge>

</div>