﻿<style type="text/css">
    ._GAcd {
        background-color: #f2f2f2;
        border-bottom: 1px solid #dcdcdc;
        border-right: 1px solid #dcdcdc;
        color: #333;
        font-size: 13px;
        font-weight: 500;
        padding: 23px 0;
        text-align: center;
        min-height:110px;        
    }

    ._GAEyb ._GAcd {
        padding: 56px 0;
    }

    ._GAb-_GAci-_GAhi {
        position: relative;
        display: -moz-inline-box;
        display: inline-block;
    }
    .selectedTemplate
    {
        background-color: grey;
    color: white;
    }
</style>

<div class="modal fade-scale in" id="myModal" role="dialog" ng-show="$ctrl.showpopup">
    <div class="modal-dialog modal-lg" style="width:45%">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="popUpCloseClick()" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{$ctrl.title}}</h4>
            </div>
            <div class="modal-body">
                <div id="model1content">
                    <div class="row _GAgTb" style="text-align:center;">
                        <div>
                            <div ng-repeat="val in $ctrl.templateList" ng-click="setTemplate(val);" style="margin-bottom:15px;text-align:center; width:33%; max-width:250px; display:inline-block;">                                 
                                
                                    <div class="_GAb-_GAci-_GAhi _GAcd col-lg-{{obj.size}}" style="width:{{180/(12/obj.size)}}px; float :none;" ng-class="(val.templateSelected==true?'selectedTemplate':'')" ng-repeat="obj in val.templateInfo">{{obj.templateSize}}</div>                                
                            </div>
                        </div>
                    </div>
                    <!--<div>
                        &nbsp;
                    </div>-->
                    <div class="row _GAgTb">
                        <div style="padding-right:10%" class="text-right">
                            <button class="btn btn-primary" ng-click="loadTemplate()">Save</button>
                            <button class="btn btn-danger" ng-click="popUpCloseClick()">Close</button>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop in" ng-show="$ctrl.showpopup"></div>




