﻿<div class="row noPrint">
    <div class="col-lg-12">
        <br />
    </div>
</div>
<div class="row noPrint">
    <div class="col-lg-12">
        <div class="dealer-info mb-15"><strong>User Activity Log</strong></div>
    </div>
</div>
<div class="row noPrint">
    <div class="col-lg-12 mb-15">
        <div style="background-color:#f5f5f5;border:1px solid #ddd; padding:5px;border-radius:4px; text-align:right;" class="resp-global-filter">
            <form class="form-inline " style="text-align:right;display: inline-block;">
                <div class="form-group">
                    <div style="display:inline; margin-left:5px;">
                        <label class="switch">
                            <input type="checkbox" id="checkAllDealers" ng-click="InvokeForAllDealers()" />
                            <div class="slider round"></div>
                        </label><span style="font-size:12px;"> All Dealers</span>
                        <global-Filter-Bar data="globalFilter" on-filter-change="reload(ctx)" on-reset="resetPageFilter()" style="margin-left:10px;"></global-Filter-Bar>
                    </div>
                    </div>
                </form>
                </div>
        </div>
</div>
<div id="DivDataAnalysis">
    <div class="panel-group" id="accordion">
        <div class="row mb-15 noPrint">
            <div class="col-sm-12">
                <div class="col-xs-3 chartdivborder resp-box-height-forecast resp-box-full" style="height: 120px; text-align: center; display:table; padding :3px;" ng-repeat="val in currnetInventoryLegends">
                    <div style="text-align:center;display: table-cell;  vertical-align: middle; max-height:80px">
                        <h5 style="color:#787878;">{{val.LegendName}}</h5>
                        <h2 style="display:block; margin-top:0px;margin-bottom:2px;font-weight:700; font-size:27px; " class="{{legendColor}}">{{val.legendValue}}</h2>
                        <h3 style="margin-top:0px;margin-bottom:8px;font-weight:500;display:inline-block">{{val.legendFooter}}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-15 noPrint">
            <div class="col-sm-12">
                <div class="dragdrop panel panel-default">
                    <div class="panel-heading resp-fs-18">
                        <span style="font-weight:700"> Department Wise Avg Time Spent </span>
                        <!--<button type="button" class="btn-link color-black pd-0 valign-mid" title="Collapse" data-toggle="collapse" data-target="#panel1"></button>-->
                        <div class="btn-group">
                            <!--<i class="fa fa-print cursor-pointer hovicon effect-1 sub-a hide" title="Print" ng-click="print('panel3')"></i>
                            <i class="fa fa-expand cursor-pointer hovicon effect-1 sub-a" title="Maximise" ng-click="fullScreenWindow('panel2')" aria-hidden="true"></i>
                            <i class="fa fa-download cursor-pointer hovicon effect-1 sub-a" title="Download" ng-click="downloadFile('SM')"></i>
                            <i class="fa fa-cog cursor-pointer hovicon effect-1 sub-a hide" title="Report List"></i>-->
                        </div>
                    </div>
                    <div id="panel1" class="panel-body animated-container align-collapse-div panel-collapse collapse in">
                        <activity-Bar data="$ctrl.containerBarData" w-Config="$ctrl.wConfig" render-Element="$ctrl.renderUserActivityChart" ng-show="$ctrl.renderUserActivityChart"></activity-Bar>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-15 noPrint">
            <div class="col-sm-12">
                <div class="dragdrop panel panel-default">
                    <div class="panel-heading resp-fs-18">
                        <span style="font-weight:700">Report Usage</span>
                        <!--<button type="button" class="btn-link color-black pd-0 valign-mid" title="Collapse" data-toggle="collapse" data-target="#panel1"></button>-->
                        <div class="btn-group">
                            <!--<i class="fa fa-print cursor-pointer hovicon effect-1 sub-a hide" title="Print" ng-click="print('panel3')"></i>
                            <i class="fa fa-expand cursor-pointer hovicon effect-1 sub-a" title="Maximise" ng-click="fullScreenWindow('panel2')" aria-hidden="true"></i>
                            <i class="fa fa-download cursor-pointer hovicon effect-1 sub-a" title="Download" ng-click="downloadFile('SM')"></i>
                            <i class="fa fa-cog cursor-pointer hovicon effect-1 sub-a hide" title="Report List"></i>-->
                        </div>
                    </div>
                    <div id="panel2" class="panel-body animated-container align-collapse-div panel-collapse collapse in">
                        <activitybubble data="$ctrl.containerBubbleData" w-Config="$ctrl.wConfig" render-Element="$ctrl.renderUserActivityChart" ng-show="$ctrl.renderUserActivityChart"></activitybubble>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
