﻿<div class="row">
    <div class="col-md-3" id="section1" style="min-height:650px"></div>
    <div class="col-md-6" id="section2" style="min-height:650px"></div>
    <div class="col-md-3" id="section3" style="min-height:650px"></div>
</div>