﻿<div class="row noPrint">
    <div class="col-lg-12">
        <br />
    </div>
</div>
<div class="row noPrint">
    <div class="col-lg-12">
        <div class="dealer-info mb-15"><strong>{{operationType}}</strong></div>
    </div>
</div>
<div class="row noPrint">
    <div class="col-lg-12 mb-15" >
        <div style="background-color:#f5f5f5;border:1px solid #ddd; padding:5px;border-radius:4px;" class="resp-global-filter">
            <form class="form-inline " style="text-align:right;">
                <div class="form-group">
                    <global-Filter-Bar data="globalFilter" on-filter-change="reload(ctx)" on-reset="resetPageFilter()"></global-Filter-Bar>
                </div>
            </form>
         </div>
     </div>
</div>

<div id="DivDataAnalysis">
    <div class="panel-group" id="accordion">
        <div class="row mb-15 noPrint">
            <div class="col-sm-12">
                <div class="dragdrop panel panel-default">
                    <div class="panel-heading resp-fs-18" style="text-align:right;">
                        <button type="button" class="btn-link color-black pd-0 valign-mid" title="Collapse" data-toggle="collapse" data-target="#panel1"></button>
                        <div class="btn-group">
                            <i class="fa fa-expand cursor-pointer hovicon effect-1 sub-a" title="Maximize" ng-click="fullScreenWindow('panel1')" aria-hidden="true"></i>
                            <i class="fa fa-download cursor-pointer hovicon effect-1 sub-a" title="Download" ng-click="downloadFile('kpi')"></i>
                            <i class="fa fa-cog cursor-pointer hovicon effect-1 sub-a hide" title="Report List"></i>
                        </div>
                    </div>
                    <div id="panel1" class="panel-body animated-container align-collapse-div panel-collapse collapse in resp-fs-18">
                        <progress-Bar data="$ctrl.ShowLoaderForKPI"></progress-Bar>
                        <gauge-list data="kpiDataItems" w-Config="kpiConfig" on-kpi-click="invokeKpiReport(ctx)"></gauge-list>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-15 noPrint">
            <div class="col-sm-12">
                <div class="dragdrop panel panel-default">
                    <div class="panel-heading resp-fs-18" style="text-align:right;">
                        <button type="button" class="btn-link color-black pd-0 valign-mid" title="Collapse" data-toggle="collapse" data-target="#panel2"></button>
                        <div class="btn-group">
                            <i class="fa fa-print cursor-pointer hovicon effect-1 sub-a hide" title="Print" ng-click="print('panel3')"></i>
                            <i class="fa fa-expand cursor-pointer hovicon effect-1 sub-a" title="Maximize" ng-click="fullScreenWindow('panel2')" aria-hidden="true"></i>
                            <i class="fa fa-download cursor-pointer hovicon effect-1 sub-a" title="Download" ng-click="downloadFile('SM')"></i>
                            <i class="fa fa-cog cursor-pointer hovicon effect-1 sub-a hide" title="Report List"></i>
                        </div>
                    </div>
                    <div id="panel2" class="panel-body animated-container align-collapse-div panel-collapse collapse in">
                        <progress-Bar data="$ctrl.ShowLoaderForSM"></progress-Bar>
                        <small-Multiple-Bars data="smallMultipleDataItems" w-Config="smallMultipleConfig" on-select="invokeBarReport(ctx)" on-select-bar="filterSelectionForMonth(ctx)" aggregate-Period="aggregatePeriod" on-Aggregated-Period-Change="aggregatePeriodChange(ctx)" show-Prior-Period="showPriorPeriod" on-Prior-Period-Click="InvokePriorPeriod(ctx)"></small-Multiple-Bars>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-15">
            <div class="col-sm-12">
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading noPrint resp-fs-18" style="text-align:right;">
                        <button type="button" class="btn-link color-black pd-0 valign-mid" title="Collapse" data-toggle="collapse" data-target="#panel3"></button>
                        <div class="btn-group">
                            <i class="fa fa-print cursor-pointer hovicon effect-1 sub-a" title="Print" ng-click="print('panel3')"></i>
                            <i class="fa fa-expand cursor-pointer hovicon effect-1 sub-a" title="Maximize" ng-click="fullScreenWindow('panel3')" aria-hidden="true"></i>
                            <i class="fa fa-download cursor-pointer hovicon effect-1 sub-a" title="Download" ng-click="downloadFile('table')"></i>
                            <i id="reportDownload" class="fa fa-folder-open dropdown-toggle cursor-pointer hovicon effect-1 sub-a" title="Report List" data-toggle="dropdown"></i>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" style="text-decoration:none;"><strong>Reports</strong></a>
                                <div class="divider"></div>
                                <a class="dropdown-item cursor-pointer" ng-click="invokeOtherReport(value)" ng-repeat="(key,value) in otherReports | filter:{isActive:'true'}"><i ng-class="value.reportType == 'BarChart' ? 'fa fa-bar-chart mr-5' : (value.reportType == 'Table' ? 'fa fa-table mr-5' : 'fa fa-pie-chart mr-5')"></i>{{value.reportName}}</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div id="panel3" class="panel-body animated-container align-collapse-div panel-collapse collapse in print">
                        <!--<datatable data="dataTableItems" w-Config="dataTableConfig" report-List="ReportList" show-Item-List="showItemList" on-List-Item-Click="invokeReport(ctx)"></datatable>
                        <bar></bar>-->
                        <progress-Bar data="$ctrl.ShowLoaderForReport"></progress-Bar>
                        <multi-Comp data="dataTableItems" default-Tab-Filter="reportFilterValue" uedefault-Tab-Filter="uereportFilterValue" w-Config="dataTableConfig" report-List="ReportList" show-Item-List="showItemList" on-List-Item-Click="invokeReport(ctx)" filter-List="reportFilterList" uefilter-List="uereportFilterList" on-Filter-Change="reportFilterChange(ctx)" on-Used-Equity-Filter-Change="reportUEFilterChange(ctx)" on-Used-Equity-Captured="getUsedCarEquitycaptured(ctx)"></multi-Comp>
                        <datatable-Popup showpopup="showpopup" path="path" title="title" on-Close-Click="closePopup()"></datatable-Popup>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
                <!-- /.panel -->
            </div>

        </div>
    </div>
</div>
<div style="clear:both"></div>
<script>
	$(function ($) {
		var $active = $('#accordion .panel-collapse.in').prev().addClass('active');
		$active.find('button').prepend('<i class="exp-col fa fa-minus-square hovicon effect-1 sub-a" title="Collapse"></i>');
		$('#accordion .panel-heading').not($active).find('button').prepend('<i class="exp-col fa fa-plus-square"></i>');
		$('#accordion').on('show.bs.collapse', function (e) {
		    $('#accordion .panel-heading.active').removeClass('active');
		    $(e.target).prev().addClass('active').find('.exp-col').removeClass('fa-plus-square').addClass('fa-minus-square');
		    $(window).trigger('resize');
		});
		$('#accordion').on('hide.bs.collapse', function (e) {
		    $('#accordion .panel-heading.active').removeClass('active');
		    $(e.target).prev().find('.exp-col').removeClass('fa-minus-square').addClass('fa-plus-square');
		});
		$('#reportDownload').on('click', function () {
		    $(window).trigger('resize');
		});
	});
</script>